@{
    ViewBag.Title = "Home";
}


<section>
    <!-- START REVOLUTION SLIDER 4.5.95 fullwidth mode -->
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:400px;">
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:400px;height:400px;">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="parallaxtoright" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    @*<img src="~/Content/Upload/revolution/background1_slider.jpg" alt="background1_slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">*@
                    <img src="~/Content/Images/Updated/sales3.jpg" alt="background1_slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption jomelle_big sft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="108" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        “BTB Training”
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="200" data-speed="1000" data-start="750" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        “Specialists in soft and behavioural skills development”
                    </div>
@*                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="249" data-speed="1000" data-start="900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        Packed With Tons Of Features
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption jomelle_button lfb tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="324" data-speed="1000" data-start="1050" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="#">GET STARTED</a>
                    </div>*@
                    <!-- LAYER NR. 5 -->
                    @*<div class="tp-caption lfr rs-parallaxlevel-0" data-x="424" data-y="-51" data-speed="1500" data-start="300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6;">
                        <img src="~/Content/Upload/revolution/slider_parallax.png" alt="">
                    </div>*@
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/Images/Updated/sales1.jpg" alt="for_blog" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption jomelle_big sft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="108" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        “Passionate”
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption jomelle_small skewfromleftshort tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="200" data-speed="1000" data-start="1100" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        “Our training consultants and facilitators are passionate about changing behaviours”
                    </div>
@*                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="249" data-speed="1000" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        Packed With Tons Of Great Ideas
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption jomelle_button lfb tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="324" data-speed="1000" data-start="1700" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="#">GET STARTED</a>
                    </div>*@
                </li>
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/Images/Originals/connectb10.jpg" alt="portfolio_img6" data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption jomelle_big sft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="108" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        “World Class Trainers”
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="200" data-speed="1000" data-start="1100" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        “We provide a wide network of qualified and experienced trainers”
                    </div>
@*                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption jomelle_small skewfromleft tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="249" data-speed="1000" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        Packed With Tons Of Features
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption jomelle_button lfb tp-resizeme rs-parallaxlevel-0" data-x="20" data-y="324" data-speed="1000" data-start="1700" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="#">GET STARTED</a>
                    </div>*@
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
            </div>
        </div>
    </div>
</section>
<!-- END REVOLUTION SLIDER -->
    <!-- Home Page Paragraph-->
<div class="features">
    <div class="container">
        @*<h1 class="main-title">'BTB Training, Developing, Inspiring you to <span>“Be the Best”</span>'</h1>*@
        <p>BTB Training specialises in soft and behavioural skills development. Our group of experienced facilitators and qualified training consultants have held senior positions within a variety of business sectors bringing forward real world experience, credibility and a wealth of training expertise. Our objective is to work with you closely to understand and then support your unique training requirements, empowering your learners to use the skills and tools they have learnt when they return to the workplace, making them more self aware individuals.</p>
        <p style="margin-top: 10px;">“BTB Training, Developing and inspiring you to “Be the Best”</p>
    </div>
</div>
<!-- Home Page Paragraph End-->
<div class="container">
    <!-- Our Services -->
    <div class="services">

        <div class="row">

            <div class="col-md-3">

                <div class="service-item">

                    <i class="fa fa-star"></i>
                    <h1>Management & Leadership</h1>
                    <p>BTB’s management and leadership skills courses have been developed by our trainers with management experience and the ability to relate our training methods to real life scenarios.</p>

                </div>

            </div>
            <!-- end service item -->

            <div class="col-md-3">

                <div class="service-item">

                    <i class="fa fa-gears"></i>
                    <h1>Personal development</h1>
                    <p>Personal skills portfolio focuses on turning potential into performance making participants more self-aware. Individuals will contribute effectively with commitment and ownership of their very own personal development.</p>

                </div>

            </div>
            <!-- end service item -->

            <div class="col-md-3">

                <div class="service-item">

                    <i class="fa fa-lightbulb-o"></i>
                    <h1>Sales & Customer Service</h1>
                    <p>Our range of sales and customer service courses will provide your participants with effective skills, tools and techniques to become more productive when working with clients.</p>

                </div>

            </div>
            <!-- end service item -->

            <div class="col-md-3">

                <div class="service-item">

                    <i class="fa fa-support"></i>
                    <h1>Customised courses</h1>
                    <p>Our experienced and qualified training designers have the ability to develop unique courses which are specifically designed for you.</p>

                </div>

            </div>
            <!-- end service item -->
        </div>
        <!-- End Row -->

    </div>
    <!-- End Services -->
</div>
<!-- end container -->

<!-- Features -->
@*<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb20">
                <div class="feat-img">
                    <img src="~/Content/Upload/phones.png" alt="">
                </div>
            </div>
            <div class="col-md-6 mb20">
                <h1 class="main-title">Why We Are <span>The Best</span></h1>
                <div class="feat-text mb30">
                    <i class="fa fa-eye"></i>
                    <div class="right-feat">
                        <h4>Best UI/UX</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <div class="feat-text mb30">
                    <i class="fa fa-pencil"></i>
                    <div class="right-feat">
                        <h4>Creative Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
                <a href="" class="learn-more">Get Started</a>
            </div>
        </div>
    </div>
</div>*@
<!-- End Features -->


@*<div class="clients">

    <div class="container">
        <h1 class="main-title">About Our Company</h1>
        <div class="main-border"></div>
        <p class="main-subtitle">What People Say About Us</p>


        <div class="testimonials">
            <ul class="bxslider">
                <li>
                    <div class="test-content">
                        “I have never seen such a great quality. Good luck and keep it up! Now i’m going to rate this item 5 stars. Because it’s awesome”

                        <p><span>Alexander Samokhin</span> | CEO of company AS Design Group</p>
                    </div>
                </li>
                <li>
                    <div class="test-content">
                        “This HTML Theme is just awesome! I’ve never seen such a great design and attention to details. I will buy this template 999 times. Coz I think the author of this template deserve it!”

                        <p><span>Astrit Bublaku</span> | MANAGER at Kikirik</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>*@
<!-- End Testimonials -->

@*<div class="advantage">

    <div class="adv-title">
        <h1>Core points of BTB TRAINING</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="adv-item mb30">
                    <i class="fa fa-star"></i>
                    <div class="right-feat">
                        <h4>Unique Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adv-item mb30">
                    <i class="fa fa-rocket"></i>
                    <div class="right-feat">
                        <h4>Endless posibilites</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adv-item mb30">
                    <i class="fa fa-gift"></i>
                    <div class="right-feat">
                        <h4>Tons of shortcodes</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="adv-item mb30">
                    <i class="fa fa-check-circle"></i>
                    <div class="right-feat">
                        <h4>Great Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adv-item mb30">
                    <i class="fa fa-tachometer"></i>
                    <div class="right-feat">
                        <h4>Seo Optimized</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adv-item mb30">
                    <i class="fa fa-mobile"></i>
                    <div class="right-feat">
                        <h4>Fully Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>*@
<!-- End Adventages -->

@*<div class="tabsat">

    <div class="container">

        <div class="row">

            <div>

                <h1 class="leftmain-title">Few Words About Us</h1>
                <div class="leftmain-border"></div>

                <div class="accordion">
                    <div id="accordion-container">
                        <h2 class="accordion-header">Who we are?</h2>
                        <div class="accordion-content">
                            <p>BTB Training Ltd is a group of experienced and qualified training consultants and facilitators who have previously held senior positions at successful organisations. Our trainer’s expertise means that our practical courses are delivered by credible and experienced trainers who offer real world experience and effective, pragmatic learning for your delegates.</p>
                        </div>
                        <h2 class="accordion-header">What we do?</h2>
                        <div class="accordion-content">
                            <p>At BTB Training, we provide a suite of training & development courses in Management & Leadership, Personal Development and short 90 minute sessions. Our 90-minute sessions means that we can run up to 3 different session titles in one day and a great alternative way to “top up” some skills for your employees. We provide a wide portfolio of “off the shelf” courses with the capability to develop bespoke courses/programmes. Our ‘always’ flexible approach means that we can support our clients in tailoring our “off the shelf” courses with relevant context, making the course much more relevant to your delegates.</p>
                        </div>
                        <h2 class="accordion-header">Why we do this?</h2>
                        <div class="accordion-content">
                            <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template.</p>
                        </div>
                    </div>
                </div>
                <!-- End Accordion -->

            </div>

            <div class="col-md-6">

                <h1 class="leftmain-title">Our Skills</h1>
                <div class="leftmain-border"></div>

                <div class="skills-progress">

                    <p>Photoshop <span>85%</span></p>
                    <div class="meter nostrips frontend">
                        <span style="width: 85%"></span>
                    </div>
                    <p>Wordpress <span>65%</span></p>
                    <div class="meter nostrips photoshop">
                        <span style="width: 65%"></span>
                    </div>
                    <p>Awesomeness <span>93%</span></p>
                    <div class="meter nostrips seo">
                        <span style="width: 93%"></span>
                    </div>
                    <p>Marketing <span>90%</span></p>
                    <div class="meter nostrips photoshop">
                        <span style="width: 90%"></span>
                    </div>
                    <p>HTML<span>100%</span></p>
                    <div class="meter nostrips seo">
                        <span style="width: 100%"></span>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- End skills -->

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="~/Content/Upload/partners1.png" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="~/Content/Upload/partners2.png" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="~/Content/Upload/partners3.png" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="~/Content/Upload/partners4.png" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="~/Content/Upload/partners5.png" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="#">
                    <img src="~/Content/Upload/partners1.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>*@




<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>
<script type="text/javascript">

    /******************************************
        -	PREPARE PLACEHOLDER FOR SLIDER	-
    ******************************************/


    var setREVStartSize = function () {
        var tpopt = new Object();
        tpopt.startwidth = 1170;
        tpopt.startheight = 600;
        tpopt.container = jQuery('#rev_slider_1_1');
        tpopt.fullScreen = "off";
        tpopt.forceFullWidth = "off";

        tpopt.container.closest(".rev_slider_wrapper").css({ height: tpopt.container.height() }); tpopt.width = parseInt(tpopt.container.width(), 0); tpopt.height = parseInt(tpopt.container.height(), 0); tpopt.bw = tpopt.width / tpopt.startwidth; tpopt.bh = tpopt.height / tpopt.startheight; if (tpopt.bh > tpopt.bw) tpopt.bh = tpopt.bw; if (tpopt.bh < tpopt.bw) tpopt.bw = tpopt.bh; if (tpopt.bw < tpopt.bh) tpopt.bh = tpopt.bw; if (tpopt.bh > 1) { tpopt.bw = 1; tpopt.bh = 1 } if (tpopt.bw > 1) { tpopt.bw = 1; tpopt.bh = 1 } tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth)); if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on") tpopt.height = tpopt.startheight; if (tpopt.fullScreen == "on") { tpopt.height = tpopt.bw * tpopt.startheight; var cow = tpopt.container.parent().width(); var coh = jQuery(window).height(); if (tpopt.fullScreenOffsetContainer != undefined) { try { var offcontainers = tpopt.fullScreenOffsetContainer.split(","); jQuery.each(offcontainers, function (e, t) { coh = coh - jQuery(t).outerHeight(true); if (coh < tpopt.minFullScreenHeight) coh = tpopt.minFullScreenHeight }) } catch (e) { } } tpopt.container.parent().height(coh); tpopt.container.height(coh); tpopt.container.closest(".rev_slider_wrapper").height(coh); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh); tpopt.container.css({ height: "100%" }); tpopt.height = coh; } else { tpopt.container.height(tpopt.height); tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height); }
    };

    /* CALL PLACEHOLDER */
    setREVStartSize();


    var tpj = jQuery;
    tpj.noConflict();
    var revapi1;

    tpj(document).ready(function () {

        if (tpj('#rev_slider_1_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_1_1');
        else
            revapi1 = tpj('#rev_slider_1_1').show().revolution(
             {
                 dottedOverlay: "none",
                 delay: 9000,
                 startwidth: 1170,
                 startheight: 500,
                 hideThumbs: 200,

                 thumbWidth: 100,
                 thumbHeight: 50,
                 thumbAmount: 3,

                 navigationType: "bullet",
                 navigationArrows: "solo",
                 navigationStyle: "round",

                 touchenabled: "on",
                 onHoverStop: "on",

                 swipe_velocity: 0.7,
                 swipe_min_touches: 1,
                 swipe_max_touches: 1,
                 drag_block_vertical: false,

                 parallax: "mouse",
                 parallaxBgFreeze: "off",
                 parallaxLevels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],

                 keyboardNavigation: "off",

                 navigationHAlign: "center",
                 navigationVAlign: "bottom",
                 navigationHOffset: 0,
                 navigationVOffset: 20,

                 soloArrowLeftHalign: "left",
                 soloArrowLeftValign: "center",
                 soloArrowLeftHOffset: 30,
                 soloArrowLeftVOffset: 0,

                 soloArrowRightHalign: "right",
                 soloArrowRightValign: "center",
                 soloArrowRightHOffset: 30,
                 soloArrowRightVOffset: 0,

                 shadow: 0,
                 fullWidth: "on",
                 fullScreen: "off",

                 spinner: "spinner0",

                 stopLoop: "off",
                 stopAfterLoops: -1,
                 stopAtSlide: -1,

                 shuffle: "off",

                 autoHeight: "off",
                 forceFullWidth: "off",


                 hideTimerBar: "on",
                 hideThumbsOnMobile: "off",
                 hideNavDelayOnMobile: 1500,
                 hideBulletsOnMobile: "off",
                 hideArrowsOnMobile: "off",
                 hideThumbsUnderResolution: 0,

                 hideSliderAtLimit: 0,
                 hideCaptionAtLimit: 0,
                 hideAllCaptionAtLilmit: 0,
                 startWithSlide: 0
             });




    });	/*ready*/

</script>
<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>
<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>
<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>