
@{
    ViewBag.Title = "Services";
}

		<div class="banner banner4">
			<div class="container">
				<h4>Services</h4>
				<div class="site_map">
					@*<a href="index.html">Home</a> / Contact*@
				</div>
				<div class="clear"></div>
			</div>
		</div>

			<div class="advantage">

				<div class="container">
				
					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-star"></i>
								<div class="right-feat">
									<h4>Unique Design</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-rocket"></i>
								<div class="right-feat">
									<h4>Endless posibilites</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-gift"></i>
								<div class="right-feat">
									<h4>Tons of shortcodes</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-check-circle"></i>
								<div class="right-feat">
									<h4>Great Support</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-tachometer"></i>
								<div class="right-feat">
									<h4>Seo Optimized</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="adv-item mb30">
								<i class="fa fa-mobile"></i>
								<div class="right-feat">
									<h4>Fully Responsive</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- End Adventages -->

			<section class="process">

				<div class="container">
					
					<h1 class="main-title">Our Process</h1>
					<div class="main-border"></div>

					<div class="process-content">

						<div class="row">

							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-file-text-o"></i></a><a href="#" target="_self"><h3>Planning</h3></a></div>
									<p></p>
								</div>

							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-lightbulb-o"></i></a><a href="#" target="_self"><h3>Idea</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-image"></i></a><a href="#" target="_self"><h3>Design</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-gear"></i></a><a href="#" target="_self"><h3>Development</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-support"></i></a><a href="#" target="_self"><h3>Support</h3></a></div>
									<p></p>
								</div>
							</div>
							<div class="col-sm-2 ">

								<div class="dnd_service_box dnd_service_box_round ">
									<div class="dnd_service_box_header"><a href="#" target="_self" class="dnd_icon_boxed"><i class="fa fa-eye"></i></a><a href="#" target="_self"><h3>SEO</h3></a></div>
									<p></p>
								</div>
							</div>
						</div>

					</div>
						
				</div>
				
			</section>

			

			<div class="tabsat white-bg">

				<div class="container">

					<div class="row">

						<div class="col-md-4">

						<h1 class="leftmain-title">Few Words About Us</h1>
						<div class="leftmain-border"></div>
								
								<div class="accordion">
									<div id="accordion-container"> 
									     <h2 class="accordion-header">We are Innovative</h2> 
									     <div class="accordion-content"> 
									          <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore.</p>
									     </div> 
									     <h2 class="accordion-header">We are Progressive</h2> 
									     <div class="accordion-content"> 
									          <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore.</p>
									     </div> 
									     <h2 class="accordion-header">We are The Best</h2> 
									     <div class="accordion-content"> 
									          <p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore.</p>
									     </div> 
									</div>
								</div>
								<!-- End Accordion -->

						</div>

						<div class="col-md-4">

							<h1 class="leftmain-title">Why We do This</h1>
							<div class="leftmain-border"></div>

							<div class="tabs-widget clearfix">
					    		<ul class="tab-links clearfix">
					    			<li class="active"><a href="#mission">Mission</a></li>
					    			<li class=""><a href="#philosophy">Philosophy</a></li>
					    			<li class=""><a href="#results">Results</a></li>
					    		</ul>

					    		<div id="mission" style="display: block;">
					    			<ul>
					    				<li>
					    					<p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					    					<p>Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
					    				</li>
					    			</ul>
					    		</div>

					    		<div id="philosophy" style="display: none;">
					    			<ul>
					    				<li>
					    					<p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					    					<p>Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
					    				</li>

					    			</ul>
					    		</div>

					    		<div id="results" style="display: none;">
					    			<ul>
					    				<li>
					    					<p>Jomelle lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
					    					<p>Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features.</p>
					    				</li>

					    			</ul>
					    		</div>


							</div>
							<!-- End Tabs -->
						</div>

						<div class="col-md-4">
						
							<h1 class="leftmain-title">Our Skills</h1>
							<div class="leftmain-border"></div>

							<div class="skills-progress">
								
								<p>Photoshop <span>85%</span></p>
								<div class="meter nostrips frontend">
									<span style="width: 85%"></span>
								</div>
								<p>Wordpress <span>65%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 65%"></span>
								</div>
								<p>Awesomeness <span>93%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 93%"></span>
								</div>
								<p>Marketing <span>90%</span></p>
								<div class="meter nostrips photoshop">
									<span style="width: 90%"></span>
								</div>
								<p>HTML<span>100%</span></p>
								<div class="meter nostrips seo">
									<span style="width: 100%"></span>
								</div>
							</div>

						</div>
							
					</div>

				</div>

			</div>
			<!-- End Tabsat -->

			<div class="pricing">
				<div class="container">

					<div class="row">
					
						<div class="col-md-4">
							<div class="price-box">
								<p class="price-name">Basic</p>
								<div class="price-big">
									<p class="p-price">$ 9.99</p>
									<span class="p-small">per month</span>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Select Plan</button>
								</div>
							</div>
						</div>
					
						<div class="col-md-4">
							<div class="price-box price-active">
								<p class="price-name">standard</p>
								<div class="price-big">
									<p class="p-price">$ 99.99</p>
									<span class="p-small">per month</span>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Select Plan</button>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="price-box">
								<p class="price-name">Premium</p>
								<div class="price-big">
									<p class="p-price">$ 599.99</p>
									<span class="p-small">per month</span>
									
								</div>
								<ul>
									<li>Nice features</li>
									<li>Fully customizable</li>
									<li>SEO friendly</li>
									<li>Pefrect pixels</li>
								</ul>
								<div class="price-button">
									<button type="button" class="btn btn-default btn-md">Select Plan</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Pricing -->

<div class="impression">
    <div class="container">
        <h1>Are You Impressed?</h1>
        <p>This is call to action area. You can put any important text here</p>
        <a href="#" class="button-def">Get Started</a>
    </div>
</div>


	<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
  	<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/Js/script.js"></script>

	
    <!-- Style Switcher -->
	<script src="~/Content/Js/styleswitch.js"></script>
	<script src="~/Content/Js/style_switch_custom.js"></script>