@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Absence Management</h2>
    <div>
        <h3>1-2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The programme explores an organisation’s specific issues in relation to attendance.  Internal data (generalised of course) helps make this one of the most relevant courses available and in turn lead toa significant reduction in absence rates.  The programme considers why absence is a problem and theimpact it has.  It uses the organisations’ absence policy as the basis for the way forward and considers short term absence and then long term absence.  Using the CIPD and CBI data it explores strategies which are known to work and illustrates the importance of setting out attendance expectations and follow through.  The programme works through the informal and formal stages of action using disciplinary and /or capability procedures.</p>
        <p>This programme works particularly well when  followed through with HR or Occupational Health and can have a significant impact on reducing sickness levels and achieve reductions of up to 50% (depending on the initial levels of absence).</p>


        <h4 style="margin-top: 20px;">Benefits</h4>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>Learn about the importance of controlling absence as a Line Manager</li>
            <li><i class="fa fa-check"></i>Know how to set out expectations from the team</li>
            <li><i class="fa fa-check"></i>Be able to deal with short term absence and look for patterns or reasons behind the absence</li>
            <li><i class="fa fa-check"></i>Consider key cases where employers have been found to have acted fairly when dismissing someone for poor attendance</li>
            <li><i class="fa fa-check"></i>Learn how disability impacts on your absence processes</li>
        </ul>
        <h4 style="margin-top: 20px;">On completing this course Managers will be able to</h4>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>Set out your expectations relating to attendance</li>
            <li><i class="fa fa-check"></i>Know how to conduct return to work interviews</li>
            <li><i class="fa fa-check"></i>Escalate action to informal and formal procedures</li>
            <li><i class="fa fa-check"></i>Deal with long-term absence, balancing business needs with individual circumstanc</li>
            <li><i class="fa fa-check"></i>Act confidently and within the legal framework of discrimination legislation and unfair dismissal</li>
        </ul>
        <br /><br />
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
