@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Advanced Presentation Skills</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Delivering a presentation is at times one of our deepest fears. However, the fear and anxiety associated with this crucial skill can be overcome, once the correct tools and techniques are understood and used - structuring material, engaging the audience and self-management.</p>
        <p>During this lively and interactive learning event, participants will develop individual presentations that reflect their unique working environment and apply their learning as they go. Strengths and weaknesses are identified; new methods for improving performance are highlighted with group feedback and video camera support, ensuring all are able to embed the new techniques learned. Participants will also feel healthy levels of challenge, reward, and self-awareness throughout this learning journey. This self-awareness will create the desired attitude and behavioural changes that are critical to the success of each presentation.</p>
        <p>All feedback provided to individuals will be conducted with professionalism and dignity, allowing all involved are able to make relevant and powerful changes in a safe working environment.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone who has to build and deliver presentations
        </p>
        <h4>The returning participants will benefit by:</h4>
        <ul class="site-features" style="margin-left: 20px;">


            <li><i class="fa fa-check"></i>Planning, preparing and delivering presentations that are role specific</li>
            <li><i class="fa fa-check"></i>Delivering structured and effective presentations to customers and colleagues</li>
            <li><i class="fa fa-check"></i>Explaining complex / technical ideas in the simplest way</li>
            <li><i class="fa fa-check"></i>Dealing with personal nerves / difficult situations in presentations</li>
            <li><i class="fa fa-check"></i>Engaging the audience</li>
            <li><i class="fa fa-check"></i>Selecting an appropriate presentation style to suit the audience and subject</li>
            <li><i class="fa fa-check"></i>“Death by power point” – techniques to engage with minimal PowerPoint</li>
            <li><i class="fa fa-check"></i>Approaching presentations with a confident, positive and can-do attitude</li>

        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <h5>
            Pre Course Work
        </h5>
        <p>Please prepare a five minute “Business Related” presentation that will be used for your “Where am I now?” Practical Exercise. This can be the introduction part of an existing presentation or one that is due to be delivered soon.</p>

        <h5>Day 1</h5>
        <h6>SESSION ONE – OVERVIEW AND INTRODUCTION</h6>
        <p>The focus of the course is on the fundamentals of presenting: how to structure a presentation, how to select and use a variety of visual aids effectively, how to relate directly to the audience and how to improve personal delivery styles.</p>
        <p>This session introduces the Learning Event and includes:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Course overview</li>
            <li><i class="fa fa-check"></i>Introductions and personal objectives</li>
            <li><i class="fa fa-check"></i>Administrative arrangements</li>
            <li><i class="fa fa-check"></i>Creating a supportive learning environment.</li>

        </ul>
        <h6>SESSION TWO – WHERE AM I NOW? – PRACTICAL EXERCISE PART 1 - VIDEO</h6>
        <p>Participants establish their existing skill levels at the start of the course in order to experience the learning journey that they will make during the course.  </p>
        <p>Each participant delivers a short presentation on a work-related topic (presentation content needs to be role / function specific), to a supportive audience.  This section of the course focuses participants on how to develop their personal communication style.  Here we focus on the skills of voice and vocal range, pace and pauses, gestures, facial expressions, body language, eye contact, breathing and confidence.  Participants learn how to recognise and reduce unhelpful non-verbal communication, build positive, supportive communication, creating a more confident and positive presenter.</p>
        <p>Appraisal of this initial presentation is given by peer feedback and supported by video review.  </p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Learning cycle</li>
            <li><i class="fa fa-check"></i>Eye contact – the art of engagement</li>
            <li><i class="fa fa-check"></i>Non verbal queues</li>

        </ul>
        <h6>SESSION THREE – THE QUALITIES OF AN EFFECTIVE PRESENTER</h6>
        <p>Knowing what makes an effective presenter is the key.  Participants define a ‘model of presenting excellence’ and use this for the duration of the course as a measure of their progress.  Participants learn what effective presenters specifically do and therefore create a vision of the effective presenter they will become. Many people spend their preparation time worrying about the words in their presentation, i.e. what they are saying, and omit to consider how they are saying it or they simply spend time organizing their power-point slides. </p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>“Power point is not the presentation…you are”!</li>
            <li><i class="fa fa-check"></i>“You get the audience you create / deserve”</li>

        </ul>
        <h6>SESSION FOUR – PRESENTATION STRUCTURE</h6>
        <p>Effective presenters follow a tried and tested formula for structuring their presentations; this ensures that their key messages are sequenced and memorable, and their delivery has impact.  </p>
        <p>Participants incorporate logical steps to give their introductions clarity during the first few critical minutes.  They learn how to create objectives that give their presentations purpose.  During this session, participants rebuild their earlier presentations with structured steps and clear messages.  The pieces of the jigsaw form a cohesive whole</p>
        <p>Models / theories</p>
         <ul class="site-features">
            <li><i class="fa fa-check"></i>I.N.T.R.O Structure</li>
        </ul>
        <h5>Day 2</h5>
        <h6>SESSION FIVE - REVIEW</h6>
        <p>At the mid-point, participants share their experiences of Day 1, supporting each other and recapping on their learning so far.</p>
        <h6>SESSION SIX – TOOLS OF THE TRADE</h6>
        <p>Effective presenters use concise, creative visuals that support their messages.  They select from a range of media to ensure that the visual aid enhances the message.  The session enables participants to appreciate the benefits and limitations of visual aids.  They develop new ideas for presenting their ideas creatively and memorably.</p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Video describing best practice around power-point use</li>
        </ul>
        <h6>SESSION SEVEN – FIX IT EXERCISE</h6>
        <p>All participants will have an opportunity to make adjustments to their specific areas of development in this session. The fix it exercises will be challenging, as it will help each individual to make corrections to their presentation approach in real time. Participants will feel very self aware and make real changes to both non verbal and verbal aspects of their presentation</p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>None</li>
        </ul>
        <h6>SESSION EIGHT – WHERE AM I GOING? PRACTICAL EXERCISE PART 2</h6>
        <p>Participants can now compare their new level of skill and confidence with their earlier presentations from day one.  With over 30 minutes of preparation time for their new presentations, participants apply the key learning from the past two days in this practical activity, engaging with their audience, using visual media creatively, structuring for impact and delivering with confidence. Clearly there will be a noticeable difference in participant’s performance between day one and day two.</p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>I.N.T.R.O review</li>
            <li><i class="fa fa-check"></i>Presentation check lists</li>

        </ul>
        <h6>SESSION NINE – DIFFICULT SITUATIONS IN PRESENTATIONS</h6>
        <p>Participants will identify the top 5 difficult situations that they have encountered previously when presenting and devise relevant remedies for these situations. Typically any difficult situations they have encountered will fall in to one of 3 categories, People, process, or technology. The trainer will add value here with supporting suggestions.</p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Managing nerves</li>
            <li><i class="fa fa-check"></i>Preparing to succeed – personal state management</li>
            <li><i class="fa fa-check"></i>Handling questions</li>
            <li><i class="fa fa-check"></i>Dealing with challenge</li>
        </ul>
        <h6>SESSION TEN – CONCLUSION STRUCTURE</h6>
        <p>Participants will realize that a powerful introduction and great content are very necessary, however the final part of their presentation must have the necessary gravitas in order to get their audience to remember key messages and do/think differently as a result. Conclusion structure will be a critical aspect of their overall presentation.</p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Conclusion structure</li>
            <li><i class="fa fa-check"></i>Power at the end</li>
            <li><i class="fa fa-check"></i>Getting key messages across</li>

        </ul>
        <h6>SESSION ELEVEN – ACTION PLANNING AND CLOSE</h6>
        <p>Participants will review their action lists from the last two days and describe the changes they will be making in the future. The idea of Post course meetings with their line managers will also be discussed and agreed at this stage. </p>
        <p>Models / theories</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Action plan review</li>

        </ul>
    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
