@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Advanced Finance</h2>
    <div>
        <h3>2 or 3 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>To understand theories of value, risk and return, capital investment decisions, financing decisions, dividend policy, capital structure, and hedging. To be able to examine corporate risk and project management issues with understanding of the financial implications.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is aimed for Managers or individuals with a finance responsibility and looking to improve on their Business Acumen skills and techniques.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features" style="margin-left: 20px;">

            <li><i class="fa fa-check" />Create and interpret Financial Statements. </li>
            <li><i class="fa fa-check" />Create and interpret cash flow statements. </li>
            <li><i class="fa fa-check" />Use Financial Statements to evaluate firm performance. </li>
            <li><i class="fa fa-check" />Determine discount/hurdle rates. </li>
            <li><i class="fa fa-check" />Evaluate investments in working capital and long-term assets. </li>
            <li><i class="fa fa-check" />Demonstrate proficiency in valuation techniques, including NPV, IRR and DCF (discounted cash flow)  </li>
            <li><i class="fa fa-check" />Calculate and project Free Cash Flow. </li>
            <li><i class="fa fa-check" />Determine financial drivers of Free Cash Flow. </li>
            <li><i class="fa fa-check" />Calculate the cost of debt, cost of equity and the Cost of Capital. </li>
            <li><i class="fa fa-check" />Evaluate the economic and industry environment, domestic and international. PESTLE and SWOT analyses</li>
            <li><i class="fa fa-check" />Calculate common investment criteria and project cash flows associated with corporate project evaluation </li>
            <li><i class="fa fa-check" />Apply measures of cost of capital and financial leverage to form long-term financial policies for business </li>
            <li><i class="fa fa-check" />Judge the merits of leasing over borrowing to purchase assets </li>
            <li><i class="fa fa-check" />Describe the common factors influencing dividend policy </li>
            <li><i class="fa fa-check" />Describe applications of options in financial management </li>
            <li><i class="fa fa-check" />Identify the major sources of short-term financing available to the firm. </li>
            <li><i class="fa fa-check" />Identify relevant cash flows for capital budgeting projects and apply various methods to analyse projects. </li>
            <li><i class="fa fa-check" />Apply techniques for estimating the cost of depreciation of assets to the firm and why it matters so much</li>
            <li><i class="fa fa-check" />Explain the concept of leverage and the benefits and costs associated with debt financing. </li>
            <li><i class="fa fa-check" />Identify the various long-term sources of funds for a firm. </li>


            <li><i class="fa fa-check" />Introduce the business environment in which the firm operates</li>
            <li><i class="fa fa-check" />Discuss what it takes for the firm to stay successful</li>
            <li><i class="fa fa-check" />Understand the importance of having a customer focus – the link between brand, culture and competitive advantage</li>
            <li><i class="fa fa-check" />Apply practical thinking skills to make commercially sound decisions</li>

        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />
                Introduction – Programmes Aims and Objectives</li>
            <li><i class="fa fa-check" />
                Introduction to Financial Position of Company</li>
            <li><i class="fa fa-check" />
                Profit, Profitability and Cash</li>
            <li><i class="fa fa-check" />
                Understanding our Customers</li>
            <li><i class="fa fa-check" />
                Understand Operational Gearing</li>
            <li><i class="fa fa-check" />
                Exercise: Operational Gearing in the Company</li>
            <li><i class="fa fa-check" />
                Principles of Effective Cash Management</li>
            <li><i class="fa fa-check" />
                Case Study: The Demise of a Profitable Company</li>
            <li><i class="fa fa-check" />
                Income Statements and Balance Sheets</li>
            <li><i class="fa fa-check" />
                Exercise: What Lies Beneath</li>
            <li><i class="fa fa-check" />
                Review of Day 1</li>
            <li><i class="fa fa-check" />
                Reducing Costs and Improving Cash Flow in the External Supply Chain</li>
            <li><i class="fa fa-check" />
                Working Capital in the Company</li>
            <li><i class="fa fa-check" />
                Review of Day 2</li>
            <li><i class="fa fa-check" />
                The Role of Budgets in Managing Costs and Cash</li>
            <li><i class="fa fa-check" />
                The Business and Economic Environment in which the Company Operates – Opportunities, risks and Constraints</li>
            <li><i class="fa fa-check" />
                Exercise: Growing the Business – Balancing risk and Opportunity and Overcoming Constraints</li>
            <li><i class="fa fa-check" />
                A brief Introduction to the Principles of Capital Investment</li>
            <li><i class="fa fa-check" />
                Growing the Business</li>
            <li><i class="fa fa-check" />
                Presentations and Feedback</li>
            <li><i class="fa fa-check" />
                Programme Review and Evaluation</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
