@{
    ViewBag.Title = "Assertiveness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Assertiveness</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Assertiveness is a term that is much used, but not always properly understood. True assertive behaviour is necessary for long term success in any working and home environment. However, if we misunderstand the true nature of being assertive, trying to adopt what we think of as an assertive approach can have decidedly negative and unexpected effects.</p>
        <p>These sessions ensure that the meaning of assertive behaviour is properly understood and allow delegates to explore the possible reasons for adopting non-assertive or aggressive behaviour.</p>
        <p>Techniques for using assertive behaviour are covered so that delegates attending will have effective tools to take away with them.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Assertiveness is a tool necessary for successful interaction in any environment. These two sessions will benefit everyone in a position where they have a need to communicate required action to others.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>The returning participants will benefit from:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i> Understand the nature of assertiveness</li>
            <li><i class="fa fa-check"></i> Make an assessment as to whether observed behaviour is assertive or not,</li>
            <li><i class="fa fa-check"></i> Consider why people develop aggressive and non-assertive behaviours through the evolution of personal rights,</li>
            <li><i class="fa fa-check"></i> Adopt assertive behaviour in an appropriate manner,</li>
            <li><i class="fa fa-check"></i> Use levels of assertiveness to escalate assertive behaviour with difficult people.</li>

        </ul>
        
                <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i> What is Assertiveness?</li>
            <li><i class="fa fa-check"></i> Evolution of personal rights</li>
            <li><i class="fa fa-check"></i> How to be assertive</li>
            <li><i class="fa fa-check"></i> Levels of assertiveness</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
