@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Basic Finance</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>To obtain an understanding and ability to use basic business financial management concepts and tools of analysis such as valuation, risk-return relationships, financial statement analysis, cost of capital, capital structure, and working capital management. And become familiar with the various types of financing available to the company. </p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is aimed for Managers or individuals with a finance responsibility and looking for a basic understanding of Finance.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Apply basic financial valuation concepts. </li>
            <li><i class="fa fa-check"></i>Describe what determines the value of the company and how management can influence these values. </li>
            <li><i class="fa fa-check"></i>Measure the company’s risk; explain what determines this risk, and how this affects the value of a firm. </li>
            <li><i class="fa fa-check"></i>Analyse the firm’s performance to determine its particular strengths and weaknesses, and be able to use financial analysis to improve performance. </li>
            <li><i class="fa fa-check"></i>Forecast a firm’s financial needs. </li>
            <li><i class="fa fa-check"></i>Analyse financial statements using standard financial ratios of liquidity, activity, debt, profitability, and market value. </li>
            <li><i class="fa fa-check"></i>Understand the three main Financial Statements for the company</li>
            <li><i class="fa fa-check"></i>Manage a firm’s working capital efficiently. </li>
            <li><i class="fa fa-check"></i>Define what leverage is explain how the firm influences its leverage, and how leverage affectsthe firm. </li>
            <li><i class="fa fa-check"></i>Describe how the company raise money in the capital markets. </li>
            <li><i class="fa fa-check"></i>Define the finance terminology in the above areas. </li>


        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Introduction – Programmes Aims and Objectives</li>
            <li><i class="fa fa-check"></i>Introduction to Finance</li>
            <li><i class="fa fa-check"></i>Income Statements and Balance Sheets</li>
            <li><i class="fa fa-check"></i>Profit, Profit and Cash</li>
            <li><i class="fa fa-check"></i>Understanding Ratios and Operational Gearing</li>
            <li><i class="fa fa-check"></i>Reducing Costs and Improving Cash Flow in the Corporation Supply Chain</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
