@{
    ViewBag.Title = "Building Relationships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Building Relationships</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>There is an expression “it’s not what you know, it’s who you know” and whilst there are many knowledge and expertise based organisations, personal networks can be very powerful to getting the job done.  This course investigates what networking is and how individuals can build on their relationships more effectively and keep working on these proactively.  This will lead into establishing better working patterns with clients and others</p>
        <p>Using an insight into their own relationship and behaviour patterns, participants review existing connections and associations, to recognise potential challenges and define strategies to improve ongoing relationships.  The session will then review links into the way in which relationships create opportunities to work better and to develop networks for influencing outcomes and delivering results.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            All those wanting to build more productive and successful relationships with clients and colleagues.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>The returning participants will benefit from:</p>
        <ul class="site-features">
            <li><li><i class="fa fa-check"></i> Understanding their relationships and which ones work best for them</li>
            <li><li><i class="fa fa-check"></i> Understanding how different perceptions can contribute to ineffective relationships with others</li>
            <li><li><i class="fa fa-check"></i> Understanding why it is important to add the relationships to the mix</li>
            <li><li><i class="fa fa-check"></i> Knowing more about trust and respect for establishing relationships</li>
            <li><li><i class="fa fa-check"></i> Creating more productive relationships.</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
