@{
    ViewBag.Title = "Challenging Conversations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Challenging Conversations</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>We have probably all been situations where we are trying to avoid talking to someone, as we feel uncomfortable about the forthcoming conversation, the outcomes and how we will feel about ourselves. These conversations, and these feelings, may arise for a number of reasons, but whatever the reason these difficult, or challenging, conversations should not be avoided.</p>
        <p>This training event will uncover why conversations can be seen as being difficult, and build strategies for dealing with them.  Not least will be the proposition that these conversations should be planned and prepared for, and the sessions covered in the course will provided the mechanisms that any such plan should execute.</p>
        <p>This practical course will be interactive, with many workshops, exercises, role plays and questionnaires. </p>
        <p>Descartes is quoted as saying ‘You cannot dissect me with a blunt instrument’; the questionnaires that the delegates will complete are not meant to pigeonhole them, but give them an insight into their modes of operation and how others might be affected.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course will benefit any member of staff who might find certain conversations difficult; these might be difficult messages to be delivered to customers or colleagues, feedback to subordinates, or feedback to peers.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>The objectives of the course are to enable delegates to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Understand what constitutes a difficult conversation, and consider why it is difficult,</li>
            <li><i class="fa fa-check"></i>Understand the principles of influencing behaviour, consider their own influencing ‘style’ and how influencing behaviour will affect a conversation,</li>
            <li><i class="fa fa-check"></i>Understand the nature of assertive behaviour and how it is necessary to ensure a successful outcome in any interaction,</li>
            <li><i class="fa fa-check"></i>Understand different Conflict Strategies, and how each may be appropriate under given circumstances,</li>
            <li><i class="fa fa-check"></i>Understand how differing Motivational Value Systems can affect the dynamics of a conversation, and empower them to be flexible enough to both identify and address potential areas of conflict,</li>
            <li><i class="fa fa-check"></i>Utilize both verbal and non verbal communications skills to build and maintain rapport with people involved in conversations,</li>
            <li><i class="fa fa-check"></i>Deliver constructive feedback in a positive and non-threatening manner, and also be able to receive feedback in a non defensive way,</li>
            <li><i class="fa fa-check"></i>Plan for a successful outcome for any conversation, focusing on achievable objectives and appropriate behaviours,</li>
            <li><i class="fa fa-check"></i>Adjust their behaviiours, employing different tools for different situations, to produce a good outcome for any interaction.</li>

        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>What is a Difficult Conversation?</li>
            <li><i class="fa fa-check"></i>Self Awareness</li>
            <li><i class="fa fa-check"></i>Influencing Skills</li>
            <li><i class="fa fa-check"></i>Assertiveness</li>
            <li><i class="fa fa-check"></i>Conflict Management</li>
            <li><i class="fa fa-check"></i>Strength Deployment Inventory (SDI)</li>
            <li><i class="fa fa-check"></i>Building Rapport</li>
            <li><i class="fa fa-check"></i>Giving &amp; Receiving Feedback</li>
            <li><i class="fa fa-check"></i>The five ‘P’s’</li>
            <li><i class="fa fa-check"></i>Behaviour Planning</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
