@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Coaching And Mentoring Consultancy Programmes</h2>
    <div>
        <table style="width: 100%;padding: 5px;">
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Appropriate For / Can Be Adapted To…</th>
                <th>1.5 HR Taster</th>
                <th>Half Day Workshops / Tasters</th>
                <th>1+ Days</th>
            </tr>
            <tr>
                <td colspan="6">COACH DEVELOPMENT</td>
            </tr>
            <tr>
                <td>Coaching Skills for Managers and Leaders</td>
                <td>Introduction to applying key performance coaching skills in the workplace, looking at ‘ask don’t tell’ ‘observe, don’t judge’ mindsets and skills to support creative problem-solving, autonomy and effectiveness in workgroups and teams. </td>
                <td>Different populations of leaders and managers, team leaders, technical professionals. Organisations transitioning from top-down to more distributed leadership culture. </td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Advanced Coaching Skills</td>
                <td>Bespoke development for internal coaches to build knowledge base and skills sets, enabling them to work confidently and effectively across a wider and more complex range of coaching needs (e.g. use of transactional analysis, neuroscience for coaches, mindfulness and coaching, working with emergent change/transition, managing multi-stakeholder needs, ethical issues in coaching etc). </td>
                <td>Internal coaches, HR and OD practitioners</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>EMCC Coach Accreditation Consultancy and Support</td>
                <td>Tailored group and/or 121 support for coaches seeking recognised accreditation via a professional coaching body (EMCC Foundation, Practitioner, Senior Practitioner, Master Practitioner)</td>
                <td>Internal coaches, HR and OD practitioners</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Foundation Certificate in Team Performance Coaching</td>
                <td>ICF accredited programme introducing core skills knowledge base / approaches and processes to support enhanced teamwork and performance.</td>
                <td>Internal coaches, project managers, leader as coach</td>
                <td>No</td>
                <td>No</td>
                <td>2 day course (can adapt to 1 day)</td>
            </tr>
            <tr>
                <td>Group coaching and action learning skills</td>
                <td>Skills and knowledge base for delivering group coaching and action learning, applying principles from classical action learning models, world café, Open Space and Theory U. </td>
                <td>Culture change agents, OD practitioners</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Coach supervision (121 and group) for internal coaches</td>
                <td>121 and group supervision from an experienced, qualified supervisor, to support effective and ethical coaching practice, and to generate organisational learning from coaching. </td>
                <td>Internal coaches</td>
                <td>Yes (121)</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td colspan="6">CULTURE</td>
            </tr>
            <tr>
                <td>Building a Coaching Culture</td>
                <td>Bespoke consultancy, needs analysis, training, CPD and supervision to support development of best fit coaching culture. </td>
                <td>Senior leadership, HR and OD practitioners</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Transforming Culture</td>
                <td>Bespoke consultancy, needs analysis, 121, team and group coaching, action learning and large group interventions to achieve organisational culture change. </td>
                <td>Senior leadership, HR and OD practitioners, internal coaches, managers</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>The Resilient Workplace</td>
                <td>Bespoke consultancy, needs analysis, 121, team and group coaching / action learning to support organisational resilience. </td>
                <td>Senior leadership, HR and OD practitioners, internal coaches, managers</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Inter-cultural skills </td>
                <td>Bespoke consultancy and training to support inter-cultural skills in international / global organisations, for improved relationships, project-management, mergers and acquisitions etc</td>
                <td>Relevant target population</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td colspan="6">LEADERSHIP DEVELOPMENT</td>
            </tr>
            <tr>
                <td>Purpose, Vision and Goal setting</td>
                <td>Bespoke coaching and training package to develop skills in co-creating and honing purpose and vision with key stakeholders, and translate into actionable goals.   </td>
                <td>Senior leadership, HR and OD practitioners, internal coaches, managers</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Leadership Presence</td>
                <td>Coaching and training package to explore how leaders ‘show up’, what that communicates to others, both intended and unintended, and how leaders can create shifts within themselves in order to achieve desired outcomes.   </td>
                <td>Senior leadership, HR and OD practitioners, internal coaches, managers</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Polarity Management</td>
                <td>Leaders must constantly manage competing priorities for themselves, their teams and the wider organisation – competition and collaboration, growth and consolidation, internal and external focus, control and innovation etc. These workshops enable skills and understanding for leaders to manage polarity effectively and creatively. </td>
                <td>Senior leadership, HR and OD practitioners, internal coaches, managers</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Working with VUCA Change </td>
                <td>Operating in the VUCA world of change (volatile, uncertain, complex, ambiguous) requires a complex skill set for navigating within an ever-shifting context. This workshop / coaching sessions explore client’s own VUCA scenarios and how they respond with resilience and agility while staying true to core purpose. </td>
                <td>Senior leadership, HR and OD practitioners, internal coaches, managers</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Ethical Decision Making </td>
                <td>Ethics is every one’s business – this workshop / coaching sessions explores different ethical ‘logics’ – the logic of ego, duty, care and reason and how they impact the way we make choices, as well as the RIGHT model (based on Steare) as a means of supporting ethical decision-making.  </td>
                <td>All levels</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td colspan="6">PERSONAL EFFECTIVENESS</td>
            </tr>
            <tr>
                <td>Personal Resilience</td>
                <td>Workshop exploring range of strategies for building and sustaining personal and career resilience – how to build ‘bounce-back-ability’ and capacity to balance personal values and purpose with ability to adapt and change.  </td>
                <td>All levels</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Mindfulness at Work</td>
                <td>
                    An introduction to developing a mindful approach to work and life to support:
                    <ul class="site-features-table">
                        <li><i class="fa fa-check"></i>	Greater focus and attention to task and in relation to others</li>
                        <li><i class="fa fa-check"></i>	Ability to self-regulate emotional states more effectively</li>
                        <li><i class="fa fa-check"></i>	Ability to sense ways forward in complex situations</li>
                    </ul>
                </td>
                <td>
                    All levels
                </td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
