@{
    ViewBag.Title = "Coaching & Mentoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Coaching & Mentoring</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Managers need to use a variety of coaching &amp; mentoring skills and approaches to work effectively with individuals and teams to deliver business results. Throughout the two days, you will take part in many practice sessions and receive feedback from the trainer to evaluate your coaching style’s impact on others.</p>
        <p>Put very simply, a coaching &amp; mentoring culture is developing the ‘ask not tell’ habit which encourages people to work things out for themselves and take more responsibility for their actions. The question is how do you go about creating and embedding these behavioural changes? There is no easy solution to creating a coaching culture but this course offers some practical advice that if followed, will go a long way towards creating one in your organisation.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>This course is suitable for senior managers, managers and supervisors responsible for the development of their teams</p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>By the end of the course you will be able to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Understand the role of the coach as a developer of others.</li>
            <li><i class="fa fa-check"></i>Make use of the latest coaching models to structure and make your coaching meetings more effective.</li>
            <li><i class="fa fa-check"></i>Create a variety of coaching styles to adapt your coaching to any situation.</li>
            <li><i class="fa fa-check"></i>Use day-to-day work activities as an opportunity to coach and raise standards.</li>
            <li><i class="fa fa-check"></i>Inspire your learner by agreeing motivational coaching outcomes.</li>
            <li><i class="fa fa-check"></i>Learn what questions to ask and how to inspire.</li>
            <li><i class="fa fa-check"></i>Learn how to assess your effectiveness as a coach.</li>

        </ul>

        <h4 style="margin-top: 20px">Course Outline</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>The differentiation of Coaching and Mentoring</li>
            <li><i class="fa fa-check"></i>What it takes to be a successful coach</li>
            <li><i class="fa fa-check"></i>The stages in coaching</li>
            <li><i class="fa fa-check"></i>Starting the Relationship</li>
            <li><i class="fa fa-check"></i>Understand how coaches helps others</li>
            <li><i class="fa fa-check"></i>Understand how people learn</li>
            <li><i class="fa fa-check"></i>Coaching skills and techniques </li>
            <li><i class="fa fa-check"></i>Reviewing and Progressing action plans</li>
            <li><i class="fa fa-check"></i>Dealing with Difficulties</li>
            <li><i class="fa fa-check"></i>Advanced Tools and Techniques</li>
            <li><i class="fa fa-check"></i>Success Tracking</li>
            <li><i class="fa fa-check"></i>G.R.O.W </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
