@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Commercial Awareness</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This course is designed to provide employees with the latest knowledge, perspectives and tools that they require to become more commercially astute within the company. Individuals will develop a more commercially aware mindset by understanding the current and future business environment, both internally and externally. The course also highlights how everyone’s job counts to the continuing success of the company and why all individuals must contribute in making commercially sound decisions</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is aimed for Managers or individuals with a finance responsibility and to understand effective knowledge and tools to help develop a more commercially aware mindset
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Introduce the business environment in which the firm operates</li>
            <li><i class="fa fa-check"></i>Discuss what it takes for the firm to stay successful</li>
            <li><i class="fa fa-check"></i>Understand the importance of having a customer focus – the link between brand, culture and competitive advantage</li>
            <li><i class="fa fa-check"></i>Apply practical thinking skills to make commercially sound decisions</li>

        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Introduction – Programmes Aims and Objectives</li>
            <li><i class="fa fa-check"></i>The Business Environment</li>
            <li><i class="fa fa-check"></i>The Company</li>
            <li><i class="fa fa-check"></i>Our Brand and Culture</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
