@{
    ViewBag.Title = "Communication & People Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Communication & People Skills</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Good communications deliver real rewards and results, for individuals and the business. There is a significant difference between those who communicate well and those who do not. That difference canstand between success and failure, both in business, and personally. </p>
        <p>It is therefore very useful to meet the challenge of communications head on, examining positive behaviours and critiquing existing methods. This course redirects and encourages changing behaviours by exploring and examining participants’ communications techniques and introducing changes in the way they interact with others. They will be encouraged to build confidence in their communications and develop different practices for addressing communications needs.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            All those looking to improve their communication skills, as well as their confidence, to build more productive and successful conversations
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>The returning participants will benefit from:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Creating more clear styles of communication</li>
            <li><i class="fa fa-check"></i>Using different techniques in different circumstances to get more positive responses</li>
            <li><i class="fa fa-check"></i>Understanding their default communications and how these can be modified effectively</li>
            <li><i class="fa fa-check"></i>Building relationships and results through more effective communication methods</li>
            <li><i class="fa fa-check"></i>Applying their learning directly in the workplace.</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
