@{
    ViewBag.Title = "Consultative Selling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Consultative Selling</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>
        
        <p>This course is for experienced salespeople and relationship managers. It has been designed for senior staff who need to compete on all fronts, to build that elusive trust with their clients and who want to build lasting customer partnerships. This workshop is also designed to provide an understanding of how to switch from a sales - based approach to consultant selling.</p>
        <p>The course will begin by carefully examining questioning and listening. Great Relationship Managers and Advisors typically do not throw out any suggestions or proposals until they have carefully identified the needs of their client. Understanding a client’s needs is often a lot harder than it seems at first glance. This course will look at the psychology behind this skill, and give delegates tools to improve their relationships significantly. In the same way, consultative selling is all about truly understanding the client, to provide them with a solution that matches their needs</p>
        <p>We shall use a variety of pragmatic techniques and media including exercises, case studies, questionnaires, role-playing and discussions. </p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>Anyone who is managing a commercial relationship and interested in developing the skills in consultative selling. </p>

        <h4>Learning Objectives</h4>
        <p>Over the two days of the workshop participants will have gained the following skills:</p>
        <ul class="site-features">
            
            <li><i class="fa fa-check"></i>	Build credibility and differentiate performance by being truly consultative and asking intelligent, professional questions</li>
            <li><i class="fa fa-check"></i>	What it means to be regarded by the client as a Trusted Advisor</li>
            <li><i class="fa fa-check"></i>	Developing first rate listening skills</li>
            <li><i class="fa fa-check"></i>	Develop an in-depth understanding into human behaviour and sales psychology</li>
            <li><i class="fa fa-check"></i>	Build a winning sales presentation from scratch in no more than half an hour</li>
            <li><i class="fa fa-check"></i>	Consultative Selling - learn how to ask the questions that actually make a difference</li>
        </ul>



        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>

        <ul class="site-features">
            
            <li><i class="fa fa-check"></i>	Asking the Right Questions and Active Listening Skills</li>
            <li><i class="fa fa-check"></i>	Influencing Outcomes and managing Relationships</li>
            <li><i class="fa fa-check"></i>	Dealing with difficult and argumentative customers</li>
            <li><i class="fa fa-check"></i>	Administration – Why it matters</li>
            <li><i class="fa fa-check"></i>	Consulting Skills</li>
            <li><i class="fa fa-check"></i>	Value Based Selling</li>
            <li><i class="fa fa-check"></i>	Cross Selling and Upselling Skills</li>
        </ul>



        <p></p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
