@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Creating Powerful and High Impact Reports</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Pre-Course Preparation </h4>
        <p>
            Participants will be asked to bring in a report that they have previously developed or one that they are currently working on.
        </p>
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This workshop is designed to help you to write powerful reports that are clear, concise, impressive and create impact with the reader. Using a five stage approach that will structure your thinking and efforts into creating something that is well planned and thought through.</p>
        <p>The key to success in report writing is thorough planning. So we focus on clarifying your objective, drawing up an outline and how to organise your information for maximum effect.</p>
        <p>Your report is nothing without your readers, so a crucial focus is considering the style and needs that must be satisfied in the way you approach your writing.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Support Staff and Mid-level Managers
        </p>

        <h3 style="margin-top: 20px;">Course Outline</h3>

        <h4 style="margin-top: 20px;">Choosing the right approach</h4>

        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Different styles for different report types</li>
        </ul>

        <h4 style="margin-top: 20px">The 5 stage approach in Report Writing</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Objectives</li>
            <li><i class="fa fa-check" />Researching</li>
            <li><i class="fa fa-check" />
            Planning
                <li><i class="fa fa-check" />Writing</li>
            <li><i class="fa fa-check" />Editing/Proof Reading</li>
        </ul>

        <h4 style="margin-top: 20px">Getting the right objectives</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Scope and purpose of the report</li>
            <li><i class="fa fa-check" />Getting specific (Writing clear objectives)</li>
        </ul>

        <h4 style="margin-top: 20px">Researching</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Logical and emotional considerations in collecting information and opinion</li>
        </ul>

        <h4 style="margin-top: 20px">Planning</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Outline headings</li>
            <li><i class="fa fa-check" />Understanding reader’s needs – Psychometric Profiling session (Social Styles)</li>
            <li><i class="fa fa-check" />Handling objections</li>
            <li><i class="fa fa-check" />Choosing the right tone and style</li>
        </ul>


        <h4 style="margin-top: 20px">Writing – Structures and outlines</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />The right structure for your report</li>
            <li><i class="fa fa-check" />Information VS research reports</li>
            <li><i class="fa fa-check" />Writing the outline</li>
        </ul>

        <h4 style="margin-top: 20px">Creating an impact</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Constructing an argument (Building your case)</li>
            <li><i class="fa fa-check" />Linguistics – Choosing the right language and style</li>
            <li><i class="fa fa-check" />Your preferences in writing style and what to be aware</li>
        </ul>

        <h4 style="margin-top: 20px">Writing – Practice and style</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Use of plain English</li>
            <li><i class="fa fa-check" />Avoiding ambiguity</li>
            <li><i class="fa fa-check" />Clear hierarchies</li>
            <li><i class="fa fa-check" />Using tables and diagrams</li>
            <li><i class="fa fa-check" />Using bullet points</li>
        </ul>

        <h4 style="margin-top: 20px">Report Feedback</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Self and feedback ratings on a current report/previous reports</li>
        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
