@{
    ViewBag.Title = "Critical Thinking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Critical Thinking </h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The essence of critical thinking centres not on answering questions but on questioning answers, so it involves questioning, probing, analysing, evaluating. </p>
        <p>For example: To understand a news item, try to give some context to the current event. For instance, if it is reported that a group of Sunnis today attacked a meeting of Shiites in Iraq, three things are needed to make full sense of the report.</p>
        <p>
            First, explanation: what is the difference between Sunnis and Shiites and what proportion of the population do they constitute?
        </p>
        <p>Second, history: what is the origin of the division of Sunnis and Shiites in the country and how has the power relationship altered in past years? </p>
        <p>Third, anticipation: what does the attack mean for future developments such as the formation of a government or the conduct of an election? </p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is aimed for Managers or individuals who would like to improve on effective methods and techniques to critical thinking
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Use different thought approaches at different times to yield better results</li>
            <li><i class="fa fa-check"></i>Generate innovative responses to business problems and opportunities</li>
            <li><i class="fa fa-check"></i>Assess your own thinking style preferences</li>
            <li><i class="fa fa-check"></i>Think in the present to prepare for the future</li>
            <li><i class="fa fa-check"></i>Determine the root cause of business problems and opportunities</li>
            <li><i class="fa fa-check"></i>Apply different types of thinking for improved analysis and problem solving</li>
            <li><i class="fa fa-check"></i>Assess possible responses accurately to select the optimal response</li>

        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Introduction</li>
            <li><i class="fa fa-check"></i>Situation Appraisal – Clearing the Path</li>
            <li><i class="fa fa-check"></i>Problem Solving – The endless search for “why”</li>
            <li><i class="fa fa-check"></i>Some Critical Thinking Process Models</li>
            <li><i class="fa fa-check"></i>Taming Data Overload</li>
            <li><i class="fa fa-check"></i>Critical Thinking in Teams</li>
            <li><i class="fa fa-check"></i>Socrates and asking the right questions</li>
            <li><i class="fa fa-check"></i>Deployment – putting into play</li>
        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
