@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Data Protection</h2>
    <div>
        <h3>1 or 1/2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This interactive training session in Data Protection utilises accelerated learning techniques and meets the TAP accreditation standard.  The training allows participants to focus on specific areas of Data Protection compliance and apply it to their own organisation, roles and personal lives.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone who has to handle and manage data within your organisation
        </p>

        <h4 style="margin-top: 20px;">By the end of the session participants will be able to:</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Understand the background and purpose of the Data Protection Act 1998.</li>
            <li><i class="fa fa-check"></i>	Understand what the 8 principles of data protection are and understand how they relate to the workplace and themselves.</li>
            <li><i class="fa fa-check"></i>	Know what is expected of businesses in respect to data security, including the penalties for those who break the law.</li>
            <li><i class="fa fa-check"></i>	Know what rights data subjects have under the Data Protection Act.</li>
            <li><i class="fa fa-check"></i>	Be aware of the forthcoming changes to EU data protection rules when the GDPR becomes law in 2018.</li>
        </ul>
    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
