@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Developing Creativity & Innovation</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Challenging  times  require  innovative  thinking  to  stay  ahead.  So  what  needs  your  attention; aproject you are involved in, issues to be resolved or simply improvement of day to day activities? This course is specifically designed to help you in all these areas through developing your creativeskills (whether you believe you have them or not!) and therefore equipping you with the ability to lookat problems differently and implement innovative solutions.</p>
        <p>By combining the latest thinking with tried and tested techniques this programme develops those whoreally want to be able to generate and explore ideas, delivering benefit to you and your organisation.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone who is looking to improve and learn new methods to problem solving creating fresh ideas
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Explain how the brain works and how to maximise the ability to generate ideas</li>
            <li><i class="fa fa-check"></i>Display the confidence to be creative and apply creative thinking</li>
            <li><i class="fa fa-check"></i>List the barriers to creativity and innovation</li>
            <li><i class="fa fa-check"></i>Describe how to create a workplace culture that encourages and supports innovation and creativity</li>
            <li><i class="fa fa-check"></i>Describe the creative problem solving process</li>
            <li><i class="fa fa-check"></i>Use tools and techniques for investigating problems</li>
            <li><i class="fa fa-check"></i>Use tools for generating and improving idea</li>

        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features" style="margin-left: 20px;">

            <li><i class="fa fa-check"></i>Define creativity</li>
            <li><i class="fa fa-check"></i>Why people perceive themselves to be good or poor at being creative</li>
            <li><i class="fa fa-check"></i>How the brain works</li>
            <li><i class="fa fa-check"></i>Begin to look at creative techniques</li>
            <li><i class="fa fa-check"></i>Creative techniques</li>
            <li><i class="fa fa-check"></i>Evaluating ideas</li>
            <li><i class="fa fa-check"></i>Introducing ideas to an organisation</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
