@{
    ViewBag.Title = "Diversity Awareness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Diversity Awareness</h2>
    <div>
        <h3>1/2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This half day event is designed for all employees.  It is an interactive and engaging event which nevertheless challenges everyone to revisit their thinking around diversity and cultural difference.  It has been developed to coincide with the Manager event and inspire teams to put diversity at the centre of their thinking, behaviour and actions.</p>
        <p>The programme uses group work to share experiences and increase awareness and team quizzes to put key legal principles across which engages even the most dubious delegates. </p>

        <h4 style="margin-top: 20px;">Benefits</h4>



        <ul class="site-features">
            <li><i class="fa fa-check"></i>Explore understanding and beliefs in a safe environment</li>
            <li><i class="fa fa-check"></i>Encourage delegates to appreciate difference and value people </li>
            <li><i class="fa fa-check"></i>Review individual thinking and consider how opinions and views have been formed</li>
            <li><i class="fa fa-check"></i>Positive contribution to creating strong teams</li>
        </ul>


        <h5 style="margin-top: 20px;">On completing this course Managers will be able to</h5>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>Understand how diversity contributes to business and team success</li>
            <li><i class="fa fa-check"></i>Re-appraise their  thinking, attitude and beliefs</li>
            <li><i class="fa fa-check"></i>Make a personal contribution to the team action plan</li>
            <li><i class="fa fa-check"></i>Communicate and share learning and experiences with others</li>
        </ul>

        <p></p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
