@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Diversity Awareness - Manager Event</h2>
    <div>
        <h3>1-2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This programme is designed to raise awareness of discrimination legislation and the Equality Act 2010 and at a practical level provide knowledge and skills to increase the profile of diversity within teams. After the event, delegates will feel confident in working with their team to identify steps everyone can take to integrate diversity into day to day practices.</p>
        <p>It is important that Managers create an environment where everyone feels comfortable and equally valued by the Organisation, Management and their team colleagues.  Positive environments lead to higher levels of synergy and ultimately higher levels of performance.</p>
        <p>The course uses engaging and non-threatening activities designed to encourage delegates to widen their thinking and challenge stereotypes and assumptions.  Delegates will be able to take the materials and activities away and use them as a launch pad for discussions back in the workplace.</p>

        <h4 style="margin-top: 20px;">Benefits</h4>



        <ul class="site-features" style="margin-left: 20px;">
            
            <li><i class="fa fa-check"></i>Awareness of the importance of diversity for your business</li>
            <li><i class="fa fa-check"></i>Understanding of diversity on a day to day level and its relevance for employees, customers and the business generally</li>
            <li><i class="fa fa-check"></i>Ideas to take back to the workplace to raise the profile of diversity with your team</li>
            <li><i class="fa fa-check"></i>An opportunity to discuss ways you can engage with team with diversity and create an overall team plan</li>

        </ul>


        <h5 style="margin-top: 20px;">On completing this course Managers will be able to</h5>

        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Explain what discrimination and harassment mean </li>
            <li><i class="fa fa-check"></i>Help others understand the impact inappropriate comments may have on others</li>
            <li><i class="fa fa-check"></i>Integrate diversity into day to day activities </li>
            <li><i class="fa fa-check"></i>Create a team where diversity is dynamic and constantly evolving </li>
            <li><i class="fa fa-check"></i>Create an inclusive team where everyone is value
        </ul>

        <p>This programme works very effectively if it precedes the Employee event as it enables a collective focus led by management and enabled by the team.  Either programme can however be free-standing. </p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
