@{
    ViewBag.Title = "Employee Motivation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Employee Motivation</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The process of motivating and developing employees is of huge importance to any organization. The problem is too few managers ever get proper training to develop the skills required. This course goes beyond motivation theory and provides practical, easy to apply employee motivation techniques that will help any manager motivate their staff to higher levels of performance.</p>
        <p>The course aims to helps individuals and teams to be as effective as possible in their work environment and generate to optimal performance. Your staff will be able to cope better with changes,feel more involved, motivated and re-energized</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>This course is aimed for Managers/Team Leaders looking to improve techniques on motivating their staff.</p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>By the end of the course you will be able to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Increase employee motivation, engagement and morale</li>
            <li><i class="fa fa-check"></i>Create more positive, in control and committed employees</li>
            <li><i class="fa fa-check"></i>Improve communication and involvement</li>
            <li><i class="fa fa-check"></i>Help employees to be better able to cope with changes and move through the stages of the change journey quicker</li>
            <li><i class="fa fa-check"></i>Raise awareness of existing strengths, skills and qualities</li>
            <li><i class="fa fa-check"></i>Help your team to get to know each other better</li>
            <li><i class="fa fa-check"></i>Develop a picture of a preferred future</li>
            <li><i class="fa fa-check"></i>Identify practical actions and support required to become more effective as individuals and as a team</li>
            <li><i class="fa fa-check"></i>Improve performance</li>
        </ul>

        <h4 style="margin-top: 20px">Course Outline</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Introduction</li>
            <li><i class="fa fa-check"></i>How does it feel?</li>
            <li><i class="fa fa-check"></i>Engaging with the staff</li>
            <li><i class="fa fa-check"></i>Where is everyone now and what is working well?</li>
            <li><i class="fa fa-check"></i>Moving towards the future</li>
            <li><i class="fa fa-check"></i>What is next?</li>
            <li><i class="fa fa-check"></i>Evaluation and Close</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
