@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Essential Negotiation Skills</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The ability to negotiate effectively is an important skill. It is also a skill that can easily be developed by understanding the processes involved. This effective negotiation skills training course is aimed at anyone who negotiates as part of their role.</p>
        <p>By adopting an approach where the parties work with each other, it is possible to reach outcomes that satisfy all. This positive approach to negotiation will help build business relationships that could last for years.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>Anyone who has to negotiation as part of the role and looking to improve on their negotiation skills</p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>By the end of this negotiation skills training course your participants will be able to:</p>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" /> Negotiate with the aim of achieving mutually acceptable outcomes</li>
            <li><i class="fa fa-check" /> Make effective preparations before starting to negotiate</li>
            <li><i class="fa fa-check" /> Set a negotiating range that you can work within</li>
            <li><i class="fa fa-check" /> Follow a clear structure for negotiations that will help you focus and achieve results</li>
        </ul>

        <h4 style="margin-top: 20px">Course Outline/Modules</h4>
        
        <h4>What is negotiation?</h4>
        <p>- Examines the concept of negotiation and what we are trying to achieve.</p>
        
        <h4>Potential negotiations</h4>
        <p>- Participants identify the potential negotiations constantly surrounding them.</p>
        
        <h4>Alternatives to Negotiation</h4>
        <p>- Negotiation is not the only method of problem solving. We identify some of the alternatives and discuss when negotiation is the best approach.</p>
        
        <h4>Negotiating Structure</h4>
        <p>- Participants often identify confidence as being the main barrier to effective negotiation. Once they are able to work with an effective structure they find that this barrier quickly disappears.</p>
        
        <h4>Planning</h4>
        <p>- Helps participants to understand the importance of planning before entering into negotiations. We look at what is involved in effective planning. Participants are given a planning template which will provide a basis for preparing most of their negotiations.</p>
        
                <h4>Laying Foundations </h4>
        <p>- This important stage of negotiation is often overlooked by inexperienced negotiators. Participants will learn  to set up their discussion so that they do not move towards agreement prematurely.</p>

        
                <h4>Building</h4>
        <p>- Helps participants to avoid surrendering their position without getting something in return.</p>

                
                <h4>Completing</h4>
        <p>- Ensures that the negotiation is closed effectively so that all parties leave committed to the outcomes agreed.</p>

                
                <h4>Case study</h4>
        <p>- An opportunity for participants to practice the processes covered during the course.</p>


                
                <h4>Action Plan</h4>
        <p>- Helps participants to avoid surrendering their position without getting something in return.</p>




    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
