@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Establishing and Developing Relationships</h2>
    <div>
        <h3>2-3 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The primary reason for entering into any Customer Supplier relationship is having the necessary business fit; the Supplier offering matches the Customer’s needs. However, even with a perfect business fit, the relationship between parties involved needs to be carefully managed. As the saying goes, “People buy people”.</p>
        <p>This workshop is focused on understanding the key drivers and tools that will enable delegates to actively manage and develop business relationships. </p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is aimed at those who are in demanding customer facing roles where the quality of the relationship is paramount. 
        </p>
        
        <h4>Learning Objectives</h4>
        <p>The objectives of the course are to enable delegates to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Establish and develop good relationships by creating the right Performance Related Identity</li>
            <li><i class="fa fa-check"></i>Manage a relationship by building and maintaining rapport, and understanding the importance of the Work Association Model,</li>
            <li><i class="fa fa-check"></i>Understand their own Motivational Value Systems (MVS) and communicate with business colleagues having a different MVS,</li>
            <li><i class="fa fa-check"></i>Negotiate effectively to a successful outcome, using assertive, influencing behavior.</li>
            <li><i class="fa fa-check"></i>Use an effective structure of questioning for gathering information.</li>

        </ul>
        <h4>Course Outline/Modules</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Establishing and Supporting a Relationship</li>
            <li><i class="fa fa-check"></i>It’s <b>YOU</b> They Buy</li>
            <li><i class="fa fa-check"></i>Partnering</li>
            <li><i class="fa fa-check"></i>Understanding Relationship Dynamics</li>
            <li><i class="fa fa-check"></i>Agreement vs. Disagreement</li>
            <li><i class="fa fa-check"></i>Effective Questioning</li>
            <li><i class="fa fa-check"></i>Steering, Not Pushing</li>

        </ul>

    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
