@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Handling Conflict</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>In this workshop participants will look at conflict at work, what causes conflict and explore the stages in the development of conflict.  Participants will also learn ways to step back and take the emotion out of conflict, anticipate conflict and develop strategies for resolving conflict and develop collaborative negotiating skills.  </p>
        <h4 style="margin-top: 20px;">Aims</h4>
        <p>
            To provide people time to stop, reflect, discuss and explore how they handle conflict and consider practical strategies for dealing with future situations of conflict
        </p>

        <h4 style="margin-top: 20px;">The returning participants will benefit by:</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Increased self awareness of emotional responses to conflict</li>
            <li><i class="fa fa-check"></i>	Access to conscious choice in handling conflict</li>
            <li><i class="fa fa-check"></i>	Increased confidence through learning practical skills and strategies for managing conflict</li>

        </ul>
        <h4 style="margin-top: 20px;">Pre-course work (optional)</h4>
        <p>
            An additional option for participants which compliments this programme is the use of psychometric profiling tools (MBTI/SDI) which will help participants to understand their own personal styles and of others and how they manage conflict situations
        </p>

        <h4 style="margin-top: 20px;">Course Outline</h4>

        <h5 style="margin-top: 20px;">
            SESSION ONE – What is conflict? How does it arise? What are the stages in the development of conflict? What are the consequences?
        </h5><p>
            In the opening session we will facilitate discussions about the nature of conflict and develop a common approach to understanding what we mean by ‘conflict’ and how it arises.

            <h5 style="margin-top: 20px;">
                SESSION TWO – Self-Awareness
            </h5>
        <p>
            In this session participants will reflect on and explore their own emotional responses to situations of potential conflict. With reference to the Strengths Deployment Inventory tool or MBTI, participants will explore how they typically behave when things are going well and then how they behave when things are not going well. This will give individuals the opportunity to consciously consider their personal and instinctive response to perceived threat.

            Participants will learn to recognise the difference between passive, aggressive and assertive behaviours.

            Our approach is practical yet references current best thinking on emotional and social awareness.
        </p>
        <h5 style="margin-top: 20px;">
            SESSION THREE – MINDSET – Doing something with what you know about yourself. Bridging the ‘know-do’ gap.
        </h5>
        <p>
            In this session participants will consider ways to best use personal strengths to improve relationships and will provoke people to consider some deep seated motivational values which drive how we behave. This session will involve COACHING PAIRS working together on real situations working through a coaching framework designed to encourage people to explore issues by focusing on outcomes, realities, mindset, options and willingness to succeed. Reflection and discussion time and will be based on Relationship Awareness concepts and modelling.
        </p>
        <h5 style="margin-top: 20px;">
            SESSION FOUR – Developing strategies for negotiating through potential conflict.
        </h5>
        <p>
            In this session we will use the Thomas – Kilmann conflict mode instrument as a basis for understanding different ways to approach conflict and for developing conscious negotiating strategies.  This is a fast paced, interactive session.
        </p>
        <h5 style="margin-top: 20px;">
            SESSION FIVE – SKILLSET – Key Skills for resolving conflict
        </h5>
        <p>
            In this session we explore the key skills which enable people to manage conflict positively and assertively. Participants learn and practice the key skills of asking questions, listening with the intention to understand and summarising.
        </p>
        <h5 style="margin-top: 20px;">
            SESSION SIX – Principled negotiation – exploring common ground for agreement.
        </h5>
        <p>
            Participants learn the concept of principled, partner focused and collaborative negotiations and practice ways to understand different positions, needs and interests and how to then use this for reaching agreement versus provoking conflict. This session is interactive and based on skills practice and case studies
        </p>
        <h5 style="margin-top: 20px;">
            SESSION SEVEN – Managing protracted ‘conflict’ – A framework
        </h5>
        <p>
            In long term relationships t work including staffing relationships and contractual partnerships, the above approaches will help overcome one off situations. There may sometimes be a need to manage these relationships over a period of time where the potential for protracted conflict may be very real.

            In this session we will explore the nature of ‘Trust’ and ways to develop collaborative relationships by the application of the mindset and skillsets already explored.

            We will also look at the importance of developing and agreeing ‘rules of engagement’ with partners and staff. We will introduce a proven workable framework which once in place with agreement on how to use such a framework will provide both parties a language and a mechanism for managing conflict over time as it arises.
        </p>
        <h5 style="margin-top: 20px;">
            SESSION EIGHT – Bringing the learning together
        </h5>
        <p>
            <ul class="site-features">
                <li><i class="fa fa-check"></i>Action plan, review & close</li>
            </ul>
        </p>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
