@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Having Difficult Conversations</h2>
    <div>
        <h3>1 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This programme examines where behaviours come from, motivations and considers the ingredients of conflict.  Delegates reflect on their own difficult conversations and critically examine their performance and how they contributed to a difficult conversation or a failed outcome.  It then considers ways to improve and uses role play to try out some of the skills.</p>
        <p>The programme also considers in some depth the importance of follow-through and ways to avoid the need for difficult conversations in the first place.  The course can also incorporate simple aspects of consequence (or ABC) theory to use positive reinforcement techniques in the workplace The goal is not to have difficult conversations – if ground work is done properly and managers are consistent there should be no need for a difficult conversation.</p>
        
        
        <h4 style="margin-top: 20px;">Benefits</h4>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>Reflecting on previous difficult conversations to explore why they are perceived as ‘difficult’</li>
            <li><i class="fa fa-check"></i>Analysing one’s own behaviour pattern and triggers</li>
            <li><i class="fa fa-check"></i>Exploring others’ motivations for their behaviour</li>
            <li><i class="fa fa-check"></i>Learning to stay in control and confident when having difficult conversations</li>
            <li><i class="fa fa-check"></i>Methods to create sustained changes in behaviour</li>
            <li><i class="fa fa-check"></i>Tools to avoid the need for difficult conversations</li>
        </ul>

        

        <h4 style="margin-top: 20px;">On completing this course Managers will be able to</h4>

        <ul class="site-features">
            
            <li><i class="fa fa-check"></i>Change your behaviour  when having difficult conversations to get you message across</li>
            <li><i class="fa fa-check"></i>Know how your behaviour has previously contributed to unsuccessful conversations</li> 
            <li><i class="fa fa-check"></i>Understand and explore motivations for the behaviours of others’</li>
           <li><i class="fa fa-check"></i>Plan and conduct effective conversations with employees</li>
            <li><i class="fa fa-check"></i>Have tools and methods to avoid the need for difficult conversations</li>
            <li><i class="fa fa-check"></i>Create a culture whereby you use positive reinforcement techniques to encourage behaviours and actions you value and minimise those you don’t</li>
        </ul>



        <p></p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
