@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Introduction To Sales - Basic Selling</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This course is different to any other you will encounter because we offer simple concepts that work with all types of people, from extroverts to quieter more thoughtful team members – we don’t want to turn anyone into a “fast talking salesman”.</p>
        <p>Your participants will be trained by a real business trainer with first hand expertise in making businesses successful and experience fresh, relevant sales concepts based on current examples.</p>
        <p>We have delivered this type of training to a wide range of clients from sectors which includes Automotive, Finance, Retail & Leisure and Hospitality.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>This course is for anyone who is new to sales and would like gain a basic understanding of selling skills.</p>

        <h4>Learning Objectives</h4>
        <p>Over the two days of the workshop participants will have gained the following skills:</p>
        <ul class="site-features">

            <li><i class="fa fa-check"></i>	Discover the key selling habits such as asking insightful questions and listening skills</li>
            <li><i class="fa fa-check"></i>	Develop a winning selling mindset - everyone in your organization has a message to sell!</li>
            <li><i class="fa fa-check"></i>	Discover ways to turn personal client relationships into selling relationships</li>
            <li><i class="fa fa-check"></i>	Make some cold calls and learn how simple it is!</li>
            <li><i class="fa fa-check"></i>	Establish simple ways to make winning sales presentations and talk in benefits</li>
            <li><i class="fa fa-check"></i>	Gain a desire to make selling a much more active part of your role</li>
            <li><i class="fa fa-check"></i>	Learn how to deal confidently with objections and close the deal!</li>
            <li><i class="fa fa-check"></i>	Navigate through gatekeepers and reach decision makers – FRESH techniques!</li>
            <li><i class="fa fa-check"></i>	Uncover simple tools for opening, advancing and closing sales calls</li>
            <li><i class="fa fa-check"></i>	Develop your ability to turn cold calls into warm and engaging conversations</li>
        </ul>



        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>	What is selling?</li>
            <li><i class="fa fa-check"></i>	The Market, Your Product and You</li>
            <li><i class="fa fa-check"></i>	Plan for a successful Sales Meeting</li>
            <li><i class="fa fa-check"></i>	The Successful Sales Call/Meeting</li>
            <li><i class="fa fa-check"></i>	Motivating the Customer to Listen</li>
            <li><i class="fa fa-check"></i>	Handle Objections and Secure that Sale!</li>

        </ul>



        <p></p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
