@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Introduction to Employment Law (Managers)</h2>
    <div>
        <h3>1 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This event is designed to introduce the wide-ranging topic of employment law, dispel any myths and show Managers how they can create a professional  environment where all parties share and understand each other’s’ expectations in the workplace.   The course explores why relationships at work sometimes go wrong and addresses key areas of legislation to enable managers to be confidentin their approach whilst understanding the important concepts of fairness and reasonableness.</p>
        <p>Employment legislation can be quite a confusing area and the programme is designed to engage withthe subject by taking a very practical and pragmatic approach.  Key areas explored include: creating the employment relationship, changing terms and conditions, discrimination, performance management, conduct and attendance, statutory rights.</p>
        
        <h4 style="margin-top: 20px;">Benefits</h4>
        
        

        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Provides a comprehensive understanding of the essentials of employment law</li>
            <li><i class="fa fa-check"></i>Describes the employment relationship and enables managers to feel confident in dealing with any employment issues which may occur</li>
            <li><i class="fa fa-check"></i>Helps create a fair environment and increased consistency in decision making</li>
            <li><i class="fa fa-check"></i>Confident decision making based on sound legal principle</li>
        </ul>

                
        <h5 style="margin-top: 20px;">On completing this course Managers will be able to</h5>

        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Confidently set out expectations with your team</li>
            <li><i class="fa fa-check"></i>Deal assuredly with any problems which may arise – and decide if a formal or informal approach is necessary</li>
            <li><i class="fa fa-check"></i>Minimise the use of any formal procedures which are time-consuming and can create friction</li>
            <li><i class="fa fa-check"></i>Follow sound procedures to minimise any liabilities for the Organisation</li>
        </ul>
       
        <p></p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
