@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Introduction to Project Management</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This course is a must for anyone who has to take charge of individual pieces of work over and above the normal day-to-day running of the business.</p>
        <p>The characteristics of a Business As Usual (BAU) environment are very different to those of Project work. Trying to manage a Project environment in the same way as you maintain the status quo in the BAU will be fraught with difficulties. This course will illustrate a mechanism for defining and managing the project work.</p>
        
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone given responsibility for managing individual pieces of work with defined goals and constraints.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to</p>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" /> Define  the characteristics of a project</li>
            <li><i class="fa fa-check" /> Understand, define and communicate the project</li>
            <li><i class="fa fa-check" /> How to plan the project in a structured and meaningful way</li>
            <li><i class="fa fa-check" /> Monitor and control the project progress to successful completion</li>
        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
