@{
    ViewBag.Title = "Introduction to Change Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Introduction to Change Management</h2>
    <div>
        <h3>2 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This course introduces managers to a range of change management practices, techniques and tools that ensure your change is successful.</p>
        <p>The training will provide you with the opportunity to explore your own change situations and also practice using a selection of practical change tools and techniques.</p>
        <p>The effectiveness of any organisational change will largely depend on its initial communication.  Often, managers are asked to communicate information to their teams that has not been fully explained or where the strategy is not fully understood.  Occasionally, we may be asked to communicate change or instruction regarding something that we do not initially buy in to. It is key, therefore, that we address our own feelings and perceptions and plan the method and style of communication appropriately</p>
        
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>This course is aimed for Managers who are interested in understanding the techniques and tools in order to successfully manage change.</p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>By the end of the course you will be able to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i> Identify the types of change that occur in organisations.</li>
            <li><i class="fa fa-check"></i> Identify the main components that are involved in planning change.</li>
            <li><i class="fa fa-check"></i> Appreciate the range of issues and complexities involved in change management.</li>
            <li><i class="fa fa-check"></i> Understand the main responsibilities when leading staff through periods of change.</li>
            <li><i class="fa fa-check"></i> Recognise the main barriers to change and establish how change can impact on managers and staff.</li>
            <li><i class="fa fa-check"></i> Create strategies for overcoming resistance to change.</li>
            <li><i class="fa fa-check"></i> Engage others to build their commitment to the required change.</li>
            <li><i class="fa fa-check"></i> Use a series of tools and techniques to analyse, introduce and monitor change.</li>
        </ul>
        
        <h4 style="margin-top: 20px">Course Outline/Modules</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i> The Need for Change</li>
            <li><i class="fa fa-check"></i> Create the Right Conditions for Successful Change</li>
            <li><i class="fa fa-check"></i> Decide on a Suitable Change Approach</li>
            <li><i class="fa fa-check"></i> Select the Appropriate Tactic for Implementation</li>
            <li><i class="fa fa-check"></i> Leadership and phases of Change</li>
            <li><i class="fa fa-check"></i> Monitor Progress and Maintain Momentum</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
