@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Managing Remote Teams</h2>
    <div>
        <h3>1 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Technology and globalization have dispersed corporations across states and borders like never before. The key to mmanaging remote workers is for leaders to adjust management styles and approaches. Whether communicating with a colleague in the next office or across the world, virtual and remote working is the norm of the twenty-first century. In this course, you gain the skills to lead teams that deliver results across multisite and multinational environments. You also learn to manage the collaboration of virtual teams via e-communications and enhance </p>
        
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>This course is aimed for Managers responsible for team members based in different locations.</p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>By the end of the course you will be able to:</p>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i> You will explore the needs of remote employees and what impacts their performance.</li>
            <li><i class="fa fa-check"></i> You will identify the enhanced competences needed to lead remote teams.</li>
            <li><i class="fa fa-check"></i> You will learn how to operate in a matrix environment, across country or divisional cultures and different working practices</li>
            <li><i class="fa fa-check"></i> You be shown how to communicate effectively with limited face to face time.</li>
            <li><i class="fa fa-check"></i> We’ll also show you how to build joint plans to ensure the team delivers the required results.</li>
            

        </ul>
        
        <h4 style="margin-top: 20px">Courrse Outline/Modules</h4>
        <ul class="site-features" style="margin-left: 20px;">
            
            <li><i class="fa fa-check"></i> Introduction and overview to remote management</li>
            <li><i class="fa fa-check"></i> Analysing the impact of distance on collaborative working</li>
            <li><i class="fa fa-check"></i> Establishing the foundation for effective collaboration</li>
            <li><i class="fa fa-check"></i> Evaluating your readiness</li>
            <li><i class="fa fa-check"></i> Building and  maintaining a successful virtual team</li>
            <li><i class="fa fa-check"></i> Networking and fostering relationships with key influencers</li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
