@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Minute Taking – Effective Meeting Reporting</h2>
    <div>
        <h3>1 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Course Preperation</h4>
        <p>Participants will be asked where they can to bring in some minutes from a meeting that they have attended with a view to reviewing these during the course.</p>
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This workshop is designed to help you to write minutes that are clear, concise and ensure that any information and actions discussed during a meeting are communicated effectively to the participants so that they are done.</p>
        <p>The key to success in minute writing is good planning, active listening and effective execution. In this course we review the process of minute writing, working with the chair of meetings and organising information to communicate more effectively.</p>
        <p>
            Key to good minutes is others understanding the outcomes and taking up the actions which they have committed to in the meeting, so better ways of reviewing this is also looked at.
        </p>
        <p>Second, history: what is the origin of the division of Sunnis and Shiites in the country and how has thepower relationship altered in past years? </p>
        <p>Third, anticipation: what does the attack mean for future developments such as the formation of a government or the conduct of an election? </p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is for anyone who may need to take minutes at any type of meeting.
        </p>
        
        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>

        <h4 style="margin-top: 20px;">Why take minutes</h4>

        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Reviewing the purpose of minutes</li>
            <li><i class="fa fa-check" />Understanding the role of the minute taker</li>
            <li><i class="fa fa-check" />Barriers to good minutes</li>
        </ul>

        <h4 style="margin-top: 20px;">Minute taking planning</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Before – working with the chair to set agenda</li>
            <li><i class="fa fa-check" />During – active listening during the meeting</li>
            <li><i class="fa fa-check" />After – laying out of the minutes and reviewing outcomes</li>            
        </ul>
        
                <h4 style="margin-top: 20px;">Before – Agenda and Style</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Understanding what the purpose of the meeting is</li>
            <li><i class="fa fa-check" />Reviewing the type of minutes required</li>
            <li><i class="fa fa-check" />Planning time to do minutes afterwards</li>            
        </ul>
        
        
                <h4 style="margin-top: 20px;">During – Working the meeting</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" />Understanding active listening during meetings</li>
            <li><i class="fa fa-check" />Taking notes effectively to draw out key points</li>
            <li><i class="fa fa-check" />Useful phrases and language to use</li>            
            <li><i class="fa fa-check" />Clarifying meanings and asking questions</li>          
        </ul>
        
        
                <h4 style="margin-top: 20px;">After – Writing up</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check" /> Understanding and overcoming ambiguity</li> 
            <li><i class="fa fa-check" /> Dealing with accuracy</li> 
            <li><i class="fa fa-check" /> Identifying what to leave out</li> 
            <li><i class="fa fa-check" /> Creating feedback mechanisms for reviewing effectiveness</li>   
        </ul>
        
                        <h4 style="margin-top: 20px;">What next?</h4>
        <ul class="site-features" style="margin-left: 20px;">
            
            <li><i class="fa fa-check" /> (Issues with data protection and freedom of information)</li> 
            <li><i class="fa fa-check" /> Planning the next minutes and key actions to take next. </li> 
        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
