@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Personal Impact and Effectiveness</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Knowing how to influence others can be a very powerful skill in any organisation. As organisational structures get flatter, the need to persuade others, to help decision making and be assertive to get things done has become as important, in some cases, as the ability to line manage. Telling others to do things is not enough. </p>
        <p>This course provides participants with an opportunity to identify their personal motivators and typical impact on others. This understanding will enable them to spot others’ responses to them and through improved questioning skills identify motivators and plan strategies for influencing and persuading.  Some assertive communication techniques will be discussed along with delegates using a framework for structuring influencing conversations and other methods.</p>

        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone who is required to interact with others to get a job done.
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>The returning participants will benefit from:</p>
        <ul class="site-features" style="margin-left: 20px;">
            
            <li><i class="fa fa-check" /> Understanding perceptions and personal impact</li>
            <li><i class="fa fa-check" /> Developing and using an outcome based framework for influencing objectives</li>
            <li><i class="fa fa-check" /> Increasing personal ability and confidence in dealing with influencing situations</li>
            <li><i class="fa fa-check" /> Creating an action plan on how they can influence others and how to manage expectations. </li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
