@{
    ViewBag.Title = "SingleColumn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Coaching & Mentoring</h2>
    <div>
        <h3>1 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Pre Course Work</h4>
        <p>Participants will be sent the “Personal Interaction Style” psychometric questionnaire to complete and return to the facilitator in preparation for the course.</p>
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Much of what we do today is to solve problems and make decisions.  Decision-making is a key skill forall of us to master. Procrastination, knee jerk reactions, not considering the bigger picture, are considered symptoms of poor decision making.</p>
        <p>Often we try to solve problems and make decisions by reacting to them before they fully understand all of the possible factors. We often feel pressured into thinking that the quickness of a decision is more important than the long-term outcome.</p>
        <p>Of course, there are times when a quick decision is needed, however, most decisions are not needed immediately and we should take time to make the right decision. Making the <b>RIGHT</b> decision for <b>all</b> <b>involved</b> is the key.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>Anyone who is involved in decision making and problem solving for your organisation</p>

        <h4 style="margin-top: 20px;">Course Outline</h4>

        <h4 style="margin-top: 20px;">The purpose of problem solving and decision making</h4>

        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Strategic context - organisational priorities, external constraints, values and ethics</li>
            <li><i class="fa fa-check"></i>Time frames in OD/L&amp;D</li>


        </ul>

        <h4 style="margin-top: 20px">The 4 key stages in the problem solving and decision making process</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Defining</li>
            <li><i class="fa fa-check"></i>Generating</li>
            <li><i class="fa fa-check"></i>Evaluating/Selecting</li>
            <li><i class="fa fa-check"></i>Implementing</li>
        </ul>

        <h4 style="margin-top: 20px">Organisational Considerations</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>McKinsey 7S - looking at the wider picture - understanding why things fail</li>
            <li><i class="fa fa-check"></i>Stakeholders and internal politics</li>
        </ul>

        <h4 style="margin-top: 20px">Defining the Problem</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Is there really a problem - why, when and where</li>
            <li><i class="fa fa-check"></i>Asking the right questions - the internal consultant approach</li>
            <li><i class="fa fa-check"></i>Root cause analysis</li>
            <li><i class="fa fa-check"></i>Impact and implications</li>
            <li><i class="fa fa-check"></i>The 5 why technique</li>
            <li><i class="fa fa-check"></i>Understanding Complexity - affinity diagrams, cause and effect</li>
        </ul>

        <h4 style="margin-top: 20px">Generating Ideas - toolkit tools</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Reverse brainstorming</li>
            <li><i class="fa fa-check"></i>Charette procedure </li>
            <li><i class="fa fa-check"></i>Reframing matrix</li>
            <li><i class="fa fa-check"></i>Concept fan & mind mapping</li>
            <li><i class="fa fa-check"></i>Disney methodology</li>

        </ul>

        <h4 style="margin-top: 20px">Evaluating Ideas - toolkit tools</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Risk analysis</li>
            <li><i class="fa fa-check"></i>Six thinking hats</li>
            <li><i class="fa fa-check"></i>Force field analysis</li>
            <li><i class="fa fa-check"></i>Starbursting (key questions)</li>


        </ul>

        <h4 style="margin-top: 20px">Making a decision - toolkit tools</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Decision matrix</li>
            <li><i class="fa fa-check"></i>Paired comparison analysis</li>
            <li><i class="fa fa-check"></i>Decision trees</li>
            <li><i class="fa fa-check"></i>Group decisions - nominal and multi voting techniques</li>


        </ul>

        <h4 style="margin-top: 20px">Making a decision</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Self confidence & self imposed limitations</li>
            <li><i class="fa fa-check"></i>Personality types - (short psychometric)</li>



        </ul>


        <h4 style="margin-top: 20px">Implementation</h4>
        <ul class="site-features" style="margin-left: 20px;">
            <li><i class="fa fa-check"></i>Validating your choices - blind spots and ladder of inference techniques</li>
            <li><i class="fa fa-check"></i>4 Steps in making things happen</li>

        </ul>


    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
