@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Recognising Unconscious Bias In Recruitment</h2>
    <div>
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>OFCOM have a group of middle managers who are trained to undertake graduate recruitment.  This programme aims to consider the role that unconscious bias may play in their selection decisions.</p>
        <h4 style="margin-top: 20px;">
            Programme Objectives:
        </h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	To gain an understanding of what unconscious bias is.</li>
            <li><i class="fa fa-check"></i>	To accept we all have biases within us; some of which are conscious but others are unconscious.</li>
            <li><i class="fa fa-check"></i>	To recognise when these biases can be positive and helpful and when they may impair our objectivity.</li>
            <li><i class="fa fa-check"></i>	To explore how they can specifically impact on selection decisions in any recruitment process.</li>
            <li><i class="fa fa-check"></i>	To practice ways of minimising the impact of bias during selection processes.</li>
        </ul>

            <h4 style="margin-top: 20px;">Programme Duration:</h4>
        <p>
            10.00am – 3.30pm approximately with 30 minute break and 2 refreshment breaks.  4.5 hours of learning
        </p>


            <h4 style="margin-top: 20px;">Course Outline</h4>
        <h4 style="margin-top: 20px;">
            Session 1 – approx. 45 minutes
        </h4>
        <p>
            Group introductions and purpose of the event<br />
            Introduction – role of equality and diversity within organisations.<br />
            Recruitment – how do you feel about the process and the candidates you have selected previously?
        </p>
        <h4 style="margin-top: 20px;">
            Session 2 – approx. 1.30 hours
        </h4>
        <p>
            How we receive and process information.  A non-scientific description of how the brain functions and how it creates ‘rules of thumb’.

            What is confirmation bias and what does ‘halo or horns’ effect mean?  Is it true that we see what we want to see?  What are micro-affirmations and micro-inequities?

            Are others really aware of our biases – especially if they are unconscious?  How important is our confirmation bias in justifying our actions and decisions?

            Exploring our own biases

        </p>
        <h4 style="margin-top: 20px;">
            Session 3 - approx. 45 minutes
        </h4>
        <p>
                    What are ‘big tick in the box’ responses by candidates and what are the ‘red rags’?
                    What role does subjectivity and bias play in the selection process – when do we find it difficult to hold on to objectivity?  Analyse each step of the process and identify risks.
            </p>
        <h4 style="margin-top: 20px;">
            Session 4 – approx. 45 mins – 1 hour
        </h4>
        <p>
            Identifying methods of reducing bias in risk areas
            Tools to manage our personal biases during selection
        </p>
        <h4 style="margin-top: 20px;">
            Session 5 – approx. 30 minutes
        </h4>

        <p>
            Peer to peer reflection on the event to consolidate the learning.
        </p>
        <h4 style="margin-top: 20px;">
            Programme style
        </h4>
        <p>
            The programme aims to create an informal learning environment as this increases the retention of information.  We encourage challenge and disagreement (in a constructive and professional manner) as this enables analytical thinking and processing of information.  This is particularly important in an event of this nature as there may be participants who are sceptical about the concept of unconscious bias and may therefore be resistant to recognising how it may influence recruitment decisions.
            The training event will be participative. Using a variety of learning methods and thereby encourage participants to reflect on some of their own biases.  Elements of this will be a light-hearted reflection on our quirks and foibles just to illustrate how irrational we humans can be sometimes.
        </p>

</div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
