@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Risk Management</h2>
    <div>
        <h3>1 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The importance of risk management, particularly on projects, is often underestimated and can cost organisations, both in financial terms and for their reputations. Awareness of risk has increased as we currently live in a less stable economic and political environment, but often the identification and analysis of the risks falls short. </p>
        <p>The purpose of this risk management training course is to provide a greater understanding of business risk and how to identify and manage it.</p>
        <p>This risk management course looks at risk from different perspectives and analyses the possibilities for managing it in each situation. It focuses primarily on operational, project, and reputation risk management.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone who has the responsibility to assess and manage risk within a variety of projects
        </p>

        <h4 style="margin-top: 20px;">The returning participants will benefit by::</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Learning to appreciate the need for the management and review of risk</li>
            <li><i class="fa fa-check"></i>	Be able to provide a framework & process for the management of risk</li>
            <li><i class="fa fa-check"></i>	To understand techniques to identify, assess, manage & monitor risks</li>
            <li><i class="fa fa-check"></i>	To enable the delegates to have experience in using some of these techniques</li>
            <li><i class="fa fa-check"></i>	To understand the importance of planning and implementing identified risk management actions</li>
            <li><i class="fa fa-check"></i>	Understanding the overall management of risk process.</li>
        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>

        <h4 style="margin-top: 20px;">
            SESSION ONE – INTRODUCTIONS AND EXPECTATIONS
        </h5>
        <p>
            Participants share their expectations and experiences to place a context round the need for risk management and how it impacts the organisation.
        </p>
        <h4 style="margin-top: 20px;">
            SESSION TWO – UNDERSTANDING RISK MANAGEMENT
        </h5>
        <p>
            The session will review the definition of risk in the business, how risks are identified, why this might be important and a standard process for risk management.

            We will also review some of the barriers to effective risk management and how to address them.

        </p>
        <h4 style="margin-top: 20px;">
            SESSION THREE – IDENTIFYING RISKS AND CAUSES
        </h5>
        <p>
            This session looks at methods of identifying risks.  Using simple tools, linking with context and the operating environment of the business, participants will review the potential ways that risks could be flagged up.

            Tools including project tools (gantt charts, stakeholder analysis, RACI matrices) will be reviewed as well as simple methods like checklists, expert analysis and lessons learned.
        </p>
        <h4 style="margin-top: 20px;">
            SESSION FOUR – ANALYSIS AND ASSESSMENT
        </h5>
        <p>
            This session reviews how analysis of each risk converts the definition and identification of the risk into information which can help make decisions and take actions.

            This will discuss processes which may be used to analyse and assess risks, along with the accuracy of these techniques and how they can be mapped using a risk assessment matrix.
        </p>
        <h4 style="margin-top: 20px;">
            SESSION FIVE – TAKING ACTION – MITITGATION AND MANAGEMENT
        </h5>
        <p>
            Following on from the analysis and assessment of risks in any operation, participants will look at how these risks are then recorded and managed using risk logs and registers.

            The session will look at the process of risk management action planning, focusing on how ownership and actions are assigned and monitored to high level risks.  The major types of actions for managing risks will be discussed and what they may do to alter the levels of risk and determine priorities.
        </p>
        <h4 style="margin-top: 20px;">
            SESSION SIX – CLOSURE AND LESSONS LEARNED
        </h5>
        <p>
            In this session, the final stages of risk management are looked at.  An important but overlooked element of risk management is the review of risks after any mitigation or management actions are taken, and additional analysis or re-evaluation if required.  In addition, where risks were not anticipated and when interventions have been successful or not, lessons learned should be recorded to reduce future risk exposure.
        </p>
        <h4 style="margin-top: 20px;">
            SESSION SEVEN – REVIEW AND CLOSE
        </h5>
        <p>
            In the final session, each participant considers what the day has added for them and creates relevant action plans to manage risks in their future operations.

        </p>
    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
