@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Supplier Management</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>The growing realisation that effective management of the supply side of the business can provide real productivity gains, as well as reducing complexity, time and costs.</p>
        <p>More and more companies are making the decision, “if it is not a core business activity, let’s outsource it”. Outsourcing as a key element of business strategy is becoming increasingly important.</p>

        <h4 style="margin-top: 20px;">This practical programme will help learners to:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	See the importance and relevance of effective supplier management for their business</li>
            <li><i class="fa fa-check"></i>	Manage relationships and performance of suppliers</li>
            <li><i class="fa fa-check"></i>	Understand the supplier lifecycle, and perform analysis of pre engagement activities</li>
            <li><i class="fa fa-check"></i>	Lead, influence and direct the supplier</li>
            <li><i class="fa fa-check"></i>	Have a process to define both our and the supplier culture</li>
            <li><i class="fa fa-check"></i>	Make supplier reviews effective</li>
            <li><i class="fa fa-check"></i>	Position suppliers based on significance and the potential value being delivered</li>
            <li><i class="fa fa-check"></i>	Handle change requirements</li>
            <li><i class="fa fa-check"></i>	Manage mid-term complacency</li>
            <li><i class="fa fa-check"></i>	Extracting most value from the supplier relationship</li>
            <li><i class="fa fa-check"></i>	How to manage without ‘contract waiving’</li>
            <li><i class="fa fa-check"></i>	Handle the exit</li>

        </ul>

        <h4 style="margin-top: 20px;">Throughout this interactive and practical course, there are opportunities to practice and test the skills you are learning:</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Supplier life-cycle concept</li>
            <li><i class="fa fa-check"></i>	Defining supplier selection criteria</li>
            <li><i class="fa fa-check"></i>	How to work with procurement</li>
            <li><i class="fa fa-check"></i>	Legal and risk groups</li>
            <li><i class="fa fa-check"></i>	Meeting and evaluating potential suppliers</li>
            <li><i class="fa fa-check"></i>	Managing the RFI (Request for Information) and ITT (Invitation to Tender) processes</li>
            <li><i class="fa fa-check"></i>	Working with the supplier on the Service Level Agreements and Key Performance Indicators</li>
            <li><i class="fa fa-check"></i>	Leading and managing in the context of an external/outsource supplier</li>
            <li><i class="fa fa-check"></i>	Understanding supplier drivers</li>
            <li><i class="fa fa-check"></i>	How to develop the supplier relationship</li>
            <li><i class="fa fa-check"></i>	Organising and managing supplier reviews</li>
            <li><i class="fa fa-check"></i>	Defining the breadth and depth of the relationship to gain most value</li>
            <li><i class="fa fa-check"></i>	Developing supplier performance</li>
            <li><i class="fa fa-check"></i>	Managing supplier performance issues</li>
            <li><i class="fa fa-check"></i>	Negotiation throughout the contract management phase</li>
            <li><i class="fa fa-check"></i>	Conflict Resolution</li>
            <li><i class="fa fa-check"></i>	Managing supplier exit/renewal</li>


        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
