@{
    ViewBag.Title = "The Art Of Negotiation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>The Art Of Negotiation</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>Negotiation can be a daunting and challenging task. Everyone will have to negotiate during their working careers. Sometimes, negotiation is an explicit activity, yet quite often the act of negotiation takes place without the label of “Negotiation”. This Learning event will tackle unique negotiation scenarios that are specific to your organisation.</p>
        <p>There are 3 essential elements: preparation, practice and training. This practical course develops skilled negotiators who can create win/win situations in business. It is practical and immediately useful. Theoretical models reinforce newfound capabilities in establishing relationships, creative strategies critical negotiating techniques and behaviours, this results in removing pressure and contention, and, finally, developing personal power.</p>
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            Anyone who has to negotiate between different parties
        </p>
        <h4>The returning participants will benefit by:</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Developing trust and building better relationships within negotiations</li>
            <li><i class="fa fa-check"></i>Planning strategies for preparing and conducting negotiations</li>
            <li><i class="fa fa-check"></i>Valuing concessions and knowing when to walk away</li>
            <li><i class="fa fa-check"></i>Considering and selecting the appropriate outcomes</li>
            <li><i class="fa fa-check"></i>Breaking deadlocks and gaining the knowledge that gains them the lead in negotiations</li>
            <li><i class="fa fa-check"></i>Finding better deals by removing their on mental limits</li>
        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <h5>Day 1</h5>
        <h6>SESSION ONE – INTRODUCTION</h6>
        <p>This introductory session will identify and list unique objectives that individuals have for this course whilst detailing the course journey. </p>
        <h6>SESSION TWO – WHAT IS NEGOTIATION?</h6>
        <p>We will examine the nature of the negotiations facing participants in your organisation on a daily basis. They will be introduced to the critical elements required for negotiation success and shown the differences between adopted positions in negotiations and underlying interests, politics and decision making mechanisms. We will also examine typically what is Negotiable and what is not.</p>
        <h6>SESSION THREE – NEGOTIATION SKILLS – HEALTH CHECK PRACTICAL EXERCISE PART 1</h6>
        <p>Understanding our default approach to negotiation will be critical during this engaging and revealing practical activity. All participants will take part in an “organisational specific negotiation” and identify their personal default approaches when negotiating; this exercise will increase the individual’s level of self awareness quickly and allow for personal learning to be greater. This exercise will also introduce revised approaches when negotiating and create a hunger to want to learn more about this fascinating topic.</p>
        <p>The Health Check Exercise will be conducted with the use of video, enabling all to witness their default approach to negotiation. The video playback proves to add further powerful insight and self awareness. </p>
        <h6>SESSION FOUR – ESTABLISHING TRUST</h6>
        <p>We cannot negotiate without having first established trust. We run an exercise which proves this and then consider the four core ingredients needed: competence, openness, reliability, and equity.</p>
        <h6>SESSION FIVE – PREPARING TO SUCCEED</h6>
        <p>The key phases of preparation for negotiation are identified and developed. Participants set objectives giving consideration to issues such as:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Background to the negotiation</li>
            <li><i class="fa fa-check"></i>Strategy and tactics (both pre and during)</li>
            <li><i class="fa fa-check"></i>Power and perceived power</li>
            <li><i class="fa fa-check"></i>Ideal, realistic, and fall back positions</li>
            <li><i class="fa fa-check"></i>Personalities involved</li>
            <li><i class="fa fa-check"></i>The importance of the BANANA</li>

        </ul>
        <h6>SESSION SIX – WIN/WIN NEGOTIATIONS</h6>
        <p>The session examines the concept of win / win. We look at how relationships can be established, and the importance of trust in negotiation. A number of different exercises may be used to demonstrate this and for the participants to practice their skills. Comprehensive feedback will be provided in preparation for the next session. </p>
        <h5>Day 2</h5>
        <h6>SESSION SEVEN – CREATING MOVEMENT</h6>
        <p>Critical element for negotiation success is to maintain control for the agenda. This session will examine the typical phases of negotiations and show you how to guide the other party through the phases to agreement. We learn how to avoid being side tracked, and the importance of logic in helping us to keep to the agenda and despite irritators and distracters.
            We introduced Covey’s fundamental principal of <b>“Seek first to understand and then to be understood”</b>
        </p>
        <h6>SESSION EIGHT – SUCCESSFUL BEHAVIOURS IN NEGOTIATION</h6>
        <p>Effective negotiator will use key behaviours in order to reinforce their impact. Furthermore, there is some behaviour which should be avoided which reduces the chance of success. Using the results from a European study, this session examines behaviours which work and those that don’t work. </p>
        <p>Techniques covered include:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>How to avoid irritators and counter proposing</li>
            <li><i class="fa fa-check"></i>How to use emotion and feeling for influence</li>
            <li><i class="fa fa-check"></i>How to say “no” in a confident and constructive style</li>
            <li><i class="fa fa-check"></i>How to reflect, uncover, and address underlying concerns</li>

        </ul>
        <p>We look at the behaviours required to build rapport with the other party. This involves consideration of how voice and body language can be modified to establish an effective dialogue, and then used to lead the conversation in the desired direction. The principal is that people buy people, and if they feel they can do business with you because of the ease of communication, the chances of a successful collaboration are increased. Many negotiations fail to reach a successful conclusion because of inadequate question handling skills. Research has proved that the skill which differentiates outstanding negotiators from others is the ability to ask the right question at the right time. The key skill is practiced though a variety of exercises. A number of techniques will be demonstrated that will enable the participants to handle the pressure questions sometimes used by tough negotiators.</p>
        <h6>SESSION NINE – WORK RELATED NEGOTIATIONS – PRACTICAL EXERCISE PART 2</h6>
        <p>This final session enables participant to pull together the skills they have learned into real life scenarios which they develop for themselves, with the help of the facilitator, these can be enacted one to one or in a large group depending on the scenario. Roles are exchanged so that the participant experiences what it is like to negotiate from the other party’s perspective and also to see how someone else would handle the negotiation. Detailed personal feedback is provided.</p>
        <h6>SESSION TEN – BACK TO WORK</h6>
        <p>During this session the participants will have the opportunity to review all they have learnt over the past two days. To maximise the benefit of the investment in both time and money, they are provided with the opportunity to embed the learning for the future by identifying their key learning points and filling in an action plan</p>
        <h6>SESSION TEN – REVIEW AND CLOSE</h6>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
