@{
    ViewBag.Title = "Time Management and the Art of Prioritisation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Time Management and the Art of Prioritisation</h2>
    <div>
        <h3>1 Day Course</h3>
        
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>No one can increase the number of hours in a day, but we can use them better.  And that won’t come from worrying about the time, doing long “to do lists” or just using a new organiser!  Successful time management comes from managing behaviours and priorities better.</p>
        <p>This course identifies patterns of behaviours which waste times and then introduces techniques to prioritise more effectively.  It will help delegates to understand how to maximise their time and achievemore as a result.</p>
        
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>This is a course for anyone who wants to maximise their time, doing the things that are important.</p>

        <h4 style="margin-top: 20px;">Course Outline</h4>
        <h5 style="margin-top: 20px;">What is it and why is it important?</h5>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>Defining Time Management – what does it mean?</li>
        </ul>

                
        <h5 style="margin-top: 20px;">Time Barriers</h5>

            <ul class="site-features">
                <li><i class="fa fa-check"></i>Reviewing barriers that stop us being better time managers</li>
                <li><i class="fa fa-check"></i>Understanding how behaviours contribute</li>                              
            </ul>
                <h5 style="margin-top: 20px;">Benefits</h5>

            <ul class="site-features">
                <li><i class="fa fa-check"></i>Learn about the importance of controlling absence as a Line Manager</li>
                <li><i class="fa fa-check"></i>Know how to set out expectations from the team</li>               
                <li><i class="fa fa-check"></i>Be able to deal with short term absence and look for patterns or reasons behind the absence</li>
                <li><i class="fa fa-check"></i>Consider key cases where employers have been found to have acted fairly when dismissing someone for poor attendance</li>
                <li><i class="fa fa-check"></i>Learn how disability impacts on your absence processes</li>
            </ul>
        
        
        
        
        
        
        <h5 style="margin-top: 20px;">Procrastination and the Time Bandits</h5>

            <ul class="site-features">
                <li><i class="fa fa-check"></i>Reviewing personal time wasters and procrastination</li>
                <li><i class="fa fa-check"></i>Creating Time Logs – identifying the realities of our time</li>               
                <li><i class="fa fa-check"></i>My schedule – looking at personal daily scheduling</li>               
            </ul>

        

        <h5 style="margin-top: 20px;">Getting it right, not just doing it right</h5>

            <ul class="site-features">
                <li><i class="fa fa-check"></i>Introducing Important vs Urgent for prioritising</li>
                <li><i class="fa fa-check"></i>Understanding personal priorities (what’s important)</li>               
                <li><i class="fa fa-check"></i>Linking goals with Important and Urgent</li>
                <li><i class="fa fa-check"></i>Time Triage</li>
            </ul>

        
        <h5 style="margin-top: 20px;">Personal time targets</h5>

            <ul class="site-features">
                <li><i class="fa fa-check"></i>Addressing the art of saying "no"</li>
                <li><i class="fa fa-check"></i>Work overloads – email, telephones and meetings</li>               
                <li><i class="fa fa-check"></i>Dealing with other people and delegation</li>
            </ul>
        
                <h5 style="margin-top: 20px;">Action Planning</h5>

            <ul class="site-features">
                <li><i class="fa fa-check"></i>Coaching time benefits and actions to do</li>
                <li><i class="fa fa-check"></i>Setting goals moving forward</li>               
            </ul>


        <p></p>
    </div>
</div>

<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
