@{
    ViewBag.Title = "Basic Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Transformational Management/Leadership</h2>
    <div>
        <h4 style="margin-top: 20px;">Overview</h4>

        <p>This development programme is specifically designed for organisations to help move managers from a transactional style of management to a transformational style.</p>

        <p>We would choose to extend the term management to include leadership because we believe it is more consistent with the more transformational shift required.</p>

        <p>Leadership would be defined as “accepting responsibility to enable others to achieve a shared purpose under conditions of uncertainty” which is achieved with a combination of “head and heart” so that we sense and respond to the needs of others who feel validated and sufficiently motivated to contribute to a vision of success.</p>


        <p>Using both the “head and the heart” helps mobilise others to act by engaging them on “why” they should help change their organisation which then helps to move  towards the “how” of doing it. (reference: Start with Why – Sinek).</p>

        <h4 style="margin-top: 20px;">This approach would give rise to three broad areas which form the basis for the programme;</h4>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>Creating an inspiring vision of the future which reflects shared values.</li>
            <li><i class="fa fa-check"></i>Motivating people to buy into and deliver the vision.</li>
            <li><i class="fa fa-check"></i>Building trust-based relationships</li>
        </ul>

        <h4 style="margin-top: 20px;">The Process</h4>
        <p>
            Using the your organisational values as a starting point; a range of personal and collective narratives will be shaped which serve to help bring about the shift to the more transformational style required. The single word values would need to be developed into a range of consistent behaviours which staff would understand through the shared narratives and hence be able to put into practice. Three different narratives would overlap and intersect as follows:
        </p>

        <h4 style="margin-top: 20px;">1. The "story of self"</h4>
        <p>Each of the managers will work on their own narratives which speak to why they are motivated to lead. The key focus is the choice points – moments in their lives when they believed in something and then put into action their ability to make a difference within the organisation or even outside. This would then link to the next narrative of the programme.</p>

        <h4 style="margin-top: 20px;">
            2.	The "story of us"
        </h4>
        <p>This communicates the values and experiences that the organisation shares through specific anecdotes as well as the capacity to accomplish our goals. Just as for the manager, the key is choice points that have moved people towards action and then to maintain their own contributions.</p>


        <h4 style="margin-top: 20px;">
            3.	The "story of now"
        </h4>

        <p>This communicates the urgent challenge of the present moment and describes the path we can take to achieve the goals – the unique strategy or set of ideas that will help us overcome the challenge we face and includes the appeal to the staff and direct reports to specific action they can do to achieve the vision.</p>

        <h4 style="margin-top: 20px;">
            Building Trust Based Relationships
        </h4>
        <p>The shared narratives will all need to speak to what the future will look like and a series of new behaviours will become part of that description based on the Lencioni model which starts with disclosure as a way of building trust and then working through the specific shifts in behaviour as evidence of a new transformative style of management, where individuals take accountability for their actions in producing the results the organisation requires.</p>

        @*<img id="building-relationships" style="margin-left: auto; margin-right: auto; display: block;" src="~/Content/Images/relationships.png" alt="Building Trust Relationships"/>*@

        <h4 style="margin-top: 20px;">
            Some of the typical behavioural shifts at each level are as follows:
        </h4>

        <h4 style="margin-top: 20px;">
            Trust
        </h4>

        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Admit their mistakes</li>
            <li><i class="fa fa-check"></i>	Ask for help without hesitation</li>
            <li><i class="fa fa-check"></i>	Ask one another for input, regarding their areas of responsibility</li>
            <li>
                <i class="fa fa-check"></i>	Acknowledge and tap into one another’s skills and expertise
            </li>
        </ul>
        <h4 style="margin-top: 20px;">
            Constructive Conflict
        </h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Have team meetings that are interesting and compelling (not boring)</li>
            <li><i class="fa fa-check"></i>	Voice their opinions, even at the risk of causing disagreement</li>
            <li><i class="fa fa-check"></i>	Challenge each other during discussions on how they arrived at their conclusions</li>
            <li>
                <i class="fa fa-check"></i>	Solicit one another’s opinions during meetings
            </li>
        </ul>
        <h4 style="margin-top: 20px;">
            Commitment to Decisions
        </h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	End meetings confident that everyone is committed to the decisions that were agreed upon</li>
            <li><i class="fa fa-check"></i>	Are clear about the team’s direction and priorities</li>
            <li><i class="fa fa-check"></i>	Are aligned around common objectives</li>
            <li>
                <i class="fa fa-check"></i>	Support team decisions, even if they initially disagreed
            </li>
        </ul>
        <h4 style="margin-top: 20px;">
            Accountability for Behaviours
        </h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Question one another about their current approaches and methods</li>
            <li><i class="fa fa-check"></i>	Hold each member of the team to the same high standards</li>
            <li>
                <i class="fa fa-check"></i>	Consistently follow through on promises and commitments
            </li>
        </ul>
        <h4 style="margin-top: 20px;">
            Team Results
        </h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i>	Are quick to point out one another’s contributions and achievements</li>
            <li><i class="fa fa-check"></i>	The team has a reputation for high performance</li>
            <li><i class="fa fa-check"></i>	Take personal responsibility to improve the team’s performance when the team fails to achieve collective goals</li>
            <li>
                <i class="fa fa-check"></i>	Acknowledge and tap into one another’s skills and expertise
            </li>
        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
