@{
    ViewBag.Title = "Working Capital Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Working Capital Management</h2>
    <div>
        <h3>2 Day Course</h3>

        <h4 style="margin-top: 20px;">Overview</h4>

        <p>“Cash is king” is a well-known saying in business. Cash flow and working capital management are the most important and challenging issues facing all organisations. Making sure your company remains cash flow positive is essential to streamlining your business operations and minimising unnecessary financial costs.</p>
        <p>This course examines the various components of working capital, how they interact with one another, and how they affect firm liquidity, default risk and shareholder wealth. You will also gain an appreciation of the techniques that can be employed to manage working capital and improve profitability and cash flow. The course deals with the basic principles and explores implications for both smaller companies and larger enterprises.</p>
      
        <h4 style="margin-top: 20px;">Who will this course benefit?</h4>
        <p>
            This course is aimed for Managers or individuals with a finance responsibility and looking to improve on effective techniques in managing capital for your organisation
        </p>

        <h4 style="margin-top: 20px;">Learning Objectives:</h4>
        <p>After this interactive course you will be able to:</p>
        <ul class="site-features">
            <li><i class="fa fa-check"></i> Define working capital understand the different needs for working capital.</li>
            <li><i class="fa fa-check"></i> Demonstrate an awareness of the costs of financing working capital.</li>
            <li><i class="fa fa-check"></i> Demonstrate an awareness of different ways of financing working capital.</li>
            <li><i class="fa fa-check"></i> Describe the principal considerations of inventory management.</li>
            <li><i class="fa fa-check"></i> Calculate the different types of cost associated with holding inventory.</li>
            <li><i class="fa fa-check"></i> Determine the optimal quantities to order or manufacture.</li>
            <li><i class="fa fa-check"></i> Determine when to order more inventory.</li>
            <li><i class="fa fa-check"></i> Explain the concept of Just-in-Time inventory management.</li>
            <li><i class="fa fa-check"></i> Describe the ways of shortening the receivables conversion period.</li>
            <li><i class="fa fa-check"></i> List what is involved in the credit control of new and existing customers.</li>
            <li><i class="fa fa-check"></i> Managing your payables to maximize the credit period without affecting supplier goodwill</li>


        </ul>

        <h4 style="margin-top: 20px;">Course Outline/Modules</h4>
        <ul class="site-features">
            <li><i class="fa fa-check"></i> Introduction</li>
            <li><i class="fa fa-check"></i> The Working Capital Cycle basics</li>
            <li><i class="fa fa-check"></i> Working Capital Optimisation – theory</li>
            <li><i class="fa fa-check"></i> Working Capital Optimisation – basic practice</li>
            <li><i class="fa fa-check"></i> Working Capital Optimisation – advanced practice (intro)</li>

        </ul>

    </div>
</div>


<script type="text/javascript" src="~/Content/Js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.bxslider.js"></script>
<script type="text/javascript" src="~/Content/Js/bootstrap.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.appear.js"></script>
<script type="text/javascript" src="~/Content/Js/waypoint.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.migrate.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.flexslider.js"></script>

<!-- jQuery KenBurn Slider  -->
<script type="text/javascript" src="~/Content/Js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.countTo.js"></script>
<script type="text/javascript" src="~/Content/Js/script.js"></script>

<!-- include jQuery + carouFredSel plugin -->
<script type="text/javascript" src="~/Content/Js/jquery.carouFredSel.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="~/Content/Js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Content/Js/jquery.touchSwipe.min.js"></script>


<!-- Style Switcher -->
<script src="~/Content/Js/styleswitch.js"></script>
<script src="~/Content/Js/style_switch_custom.js"></script>
