
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

			<!-- our work portfolio -->
			<div class="our-work">
				
				<div class="container">

					<div class="filters port2">
						<div class="filter clearfix">
							<ul>
								<li><a href="#" class="active" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".class1">Web Design</a></li>
								<li><a href="#" data-filter=".class2">Interiors</a></li>
								<li><a href="#" data-filter=".class3">Branding</a></li>
								<li><a href="#" data-filter=".class4">Apps</a></li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="clearfix">
							<ul class="filter-container home-filter clearfix">
								<li class="class1">
									<div class="overlay">
									    <img src="~/Content/upload/portfolio/port4-1.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class2">
									<div class="overlay">
									    <img src="~/Content/upload/portfolio/port4-2.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class3">
									<div class="overlay">
									    <img src="~/Content/upload/portfolio/port4-3.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
								<li class="class4">
									<div class="overlay">
									    <img src="~/Content/upload/portfolio/port4-4.jpg" alt="" />
	    							 	<a href="#"><div class="mask">
									        <div class="bottom-post">
									        	<h2>Project Title</h2>
									            <p>illustrations</p>
									        </div>
									    </div></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="#" class="learn-more">More works</a>

							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work portfolio -->

<div class="impression brown-bg">
    <div class="container">
        <h1>Are You Impressed?</h1>
        <p>This is call to action area. You can put any important text here</p>
        <a href="#" class="button-def">Get Started</a>
    </div>
</div>

	<script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
  	<script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Content/js/waypoint.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.migrate.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="~/Content/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/js/script.js"></script>


	
    <!-- Style Switcher -->
	<script src="~/Content/js/styleswitch.js"></script>
	<script src="~/Content/js/style_switch_custom.js"></script>