
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner banner4">
    <div class="container">
        <h4>Portfolio</h4>
        <div class="site_map">
            @*<a href="index.html">Home</a> / Contact*@
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- our work portfolio -->
			<div class="our-work">
				
				<div class="container">

					<div class="filters port2">
						<div class="filter clearfix">
							<ul>
								<li><a href="#" class="active" data-filter="*">All</a></li>
@*								<li><a href="#" data-filter=".class1">Web Design</a></li>
								<li><a href="#" data-filter=".class2">Interiors</a></li>
								<li><a href="#" data-filter=".class3">Branding</a></li>
								<li><a href="#" data-filter=".class4">Apps</a></li>*@
							</ul>
						</div>
						<div class="clear"></div>
						<div class="clearfix">
							<ul class="filter-container home-filter clearfix">
								<li class="class1">
								    <div class="overlay">
								        @*<h2 class="top-post">Management & Leadership</h2>*@
								        <img src="~/Content/Upload/portfolio/management-and-leadership.jpg" alt="" />
								        <a href="@Url.RouteUrl("courseModule", new { courseName = "Management-And-Leadership" })"><div class="mask">
								                                                                 <div class="bottom-post">
								                                                                     <h2>Management & Leadership</h2>
								                                                                     <p>Leadership is just one of the many assets a successful manager must possess, the aim of a successful manager is to maximise the output of the organisation, values and strategy. The importance of being flexible in your approach to change your mindset, attitude and adapt to different situations will be enhanced.</p>
								                                                                 </div>
								                                                             </div></a>
								    </div>
								</li>
								<li class="class2">
								    <div class="overlay">
								        @*<h2 class="top-post">Personal Development</h2>*@
								        <img src="~/Content/upload/portfolio/personal-development.jpg" alt="" />
								        <a href="@Url.RouteUrl("courseModule", new { courseName = "Personal-Development" })"><div class="mask">
								                        <div class="bottom-post">
								                            <h2>Personal Development</h2>
								                            <p>Having the necessary professional skills is a key component to Business. BTB professional skills portfolio focuses on turning potential into performance, making participants more self-aware. Individuals will contribute effectively with commitment and ownership of their very own personal development and this is where the change will happen, individually and organisationally.</p>
								                        </div>
								                    </div></a>
								    </div>
								</li>
								<li class="class3">
								    <div class="overlay">
								        @*<h2 class="top-post">Sales & Customer Service</h2>*@
								        <img src="~/Content/upload/portfolio/sales-and-customer-service.jpg" alt="" />
								        <a href="@Url.RouteUrl("courseModule", new { courseName = "Sales-And-Customer-Service" })"><div class="mask">
								                        <div class="bottom-post">
								                            <h2>Sales & Customer Service</h2>
								                            <p>Even the best can get better and high performing teams can sharpen their focus. Learning with BTB’s challenging sales and customer service courses, your team will learn to apply some of the latest thinking, methods and tools to take their performance to a whole new level.</p>
								                        </div>
								                    </div></a>
								    </div>
								</li>
								<li class="class4">
								    <div class="overlay">
								        @*<h2 class="top-post">Customised Courses</h2>*@
								        <img src="~/Content/upload/portfolio/customised-courses.jpg" alt="" />
								        <a href="@Url.RouteUrl("courseModule", new { courseName = "Customised-Courses"})"><div class="mask">
								                        <div class="bottom-post">
								                            <h2>Customised Courses</h2>
								                            <p>Our training consultants are experience designers, constantly developing training programmes that matters. BTB’s trainers are qualified within a range of disciplines and will work with you to build a deep understanding of your goals and objectives, developing unique programmes for your organisation and participants.</p>
								                        </div>
								                    </div></a>
								    </div>
								</li>
							</ul>
						</div>
					</div>
					@*<a href="#" class="learn-more">More works</a>*@

							
				</div>
				<!-- End Portfolio -->

			</div>
			<!-- end our work portfolio -->

@*<div class="impression brown-bg">
    <div class="container">
        <h1>Are You Impressed?</h1>
        <p>This is call to action area. You can put any important text here</p>
        <a href="#" class="button-def">Get Started</a>
    </div>
</div>*@

	<script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
  	<script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
	<script type="text/javascript" src="~/Content/js/waypoint.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.migrate.js"></script>

     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="~/Content/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="~/Content/js/script.js"></script>


	
    <!-- Style Switcher -->
	<script src="~/Content/js/styleswitch.js"></script>
	<script src="~/Content/js/style_switch_custom.js"></script>